.alert-wrapper{ padding:0 20px; }
.alert_red{ background-color:#FF6666; font-size:14px; color:#333333; padding:10px; height:auto; }
.alert_yellow{ background-color:#FFCC66; font-size:14px; color:#333333; padding:10px; height:auto; }
.alert_green{ background-color:#84ff90; font-size:14px; color:#333333; padding:10px; height:auto; }
.alert_green_form{ background-color:#84ff90; font-size:14px; color:#333333; padding:10px; height:auto; margin:20px auto 20px auto; }
.alert_yellow_form{ background-color:#FFCC66; font-size:14px; color:#333333; padding:10px; height:auto; margin:20px auto 20px auto; }
.alert_red_form{ background-color:#FF6666; font-size:14px; color:#333333; padding:10px; height:auto; margin:20px auto 20px auto; }
.alert_red_form ol{ padding:0 15px; margin:10px 0 0; }
.alert_red_form ol li{ margin-bottom:5px; }
.alert_form_action{ text-align:right; margin:0; padding:0 10px 20px 0; }
.alert_form_action .button{ height:auto; margin:0 3px; padding:5px 10px; }

#delete_confirmation_wrapper{ position:absolute; width:100%; height:100%; top:0; left:0; z-index:99; }

.fade{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter:alpha(opacity=50);
		opacity:.50;
			background:#000;
			position:fixed;
			height:100%;
			width:100%;
			z-index:99;
			left:0;
			top:0;}

.popup_block {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
		border-radius:5px;
			border:2px solid #bbb;
			margin:0 0 0 -250px;
			padding:0px 10px;
			background:#fff;
			position:fixed;
			z-index:100;
			width:480px;
			float:left;
			top:20%;
			left:50%;}
.popup_block .popup{ float:left; width:100%; background:#fff; margin:10px 0; padding:10px 0; }

/*
	IE 6 Hack Script
*/
*html .fade{ position:absolute; top:0; }
*html .popup_block {
	position:absolute;
	top:expression(eval(document.compatMode &&
		document.compatMode=='CSS1Compat') ?
		documentElement.scrollTop
		+((documentElement.clientHeight-this.clientHeight)/2)
		:document.body.scrollTop
		+((document.body.clientHeight-this.clientHeight)/2));
	left:expression(eval(document.compatMode &&
		document.compatMode=='CSS1Compat') ?
		documentElement.scrollLeft
		+ (document.body.clientWidth /2 )
		:document.body.scrollLeft
		+ (document.body.offsetWidth /2 ));}

/*
	Password Strength
*/
.validate_box{
	font-family:arial,helvetica,san-serif;
	padding:6px !important;
	margin:0 0 0 10px;
	font-weight:bold;
	font-size:13px;
	height:30px;
	color:#666;
	padding:0;}
.validate_box span{
	padding:5px 20px 12px 5px !important;
	padding:4px 20px 12px 4px;
	margin:0px 0px 0px 20px;
	white-space:nowrap;}
.shortPass, .validate_no{ background:#edabab; border:1px solid #bc0000; }
.strongPass, .validate_ok{ background:url(../images/green.png) no-repeat 0 -5px; border:1px solid #73bc00; }
.badPass{ background:#edabab; border:1px solid #bc0000; margin:-10px 0 0 0px; padding:0; }
.goodPass{ background:url(../images/yellow.png) no-repeat 0 -5px; border:1px solid #bc9f00; }


