body{ font-family:"Lucida Sans", Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; color:#333333; padding:0; margin:0; }
select{ width:auto; font-size:12px; height:30px; margin:5px 0; }

.wrap{ border:1px solid #BBBBBB; padding:1em 1em 1em 1em; }
.page-list{ list-style:none; margin:0; padding:0; display:block; }
.clear-element{ clear:both; }
.page-item1 > div,
.page-item2 > div,
.page-item3 > div,
.page-item4 > div{ background:#f8f8f8; margin:0.25em 0 0 0; }
.left{ text-align:left; }
.right{ text-align:right; }
.sort-handle{ cursor:move; }
.helper{ border:2px dashed #777777; }
.current-nesting{ background-color:yellow; }
.bold{ color:red; font-weight:bold; }

.apps_item{
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
        box-sizing:border-box;
            border:1px solid #bbb;
            background:#fff;
            margin:3px 0;
            cursor:move;
            height:35px;
            width:auto;}
.apps_item .apps_item_text{ 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
        box-sizing:border-box;
            padding:9px 10px; 
            background:#ccc;  
            height:auto; 
            float:left;
            width:95%;}
.apps_item .view{
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
        box-sizing:border-box;
            background:#fff url(../images/ico-arrow.png) center no-repeat;
            cursor:pointer;
            height:33px;
            float:left;
            width:5%;}
.apps_details_item{
    min-width:200px !important;
    border:1px dashed #bbb;
    width:94% !important;
    background:#fff;
    min-width:150px;
    padding:5px;
    height:auto;
    width:93%;
    margin:0;}
.apps_details_item label{ font-weight:bold; }

.button{
    background:url(../images/panel_bg.jpg) repeat-x;
    border:1px solid #bbbbbb;
    font-size:bold;
    cursor:pointer;
    font-size:11px;
    height:25px;
    margin:1px;}

.menuset_details_item{
    min-width:200px !important;
    border:1px dashed #bbb;
    background:#fff;
    min-width:150px;
    padding:10px;
    height:auto;
    margin:0;}
.menuset_details_item .label{ margin:0; }
.menuset_details_item .label label{ display:block; float:left; width:80px; text-align:right; }
.menuset_details_item .label input{ 
    -moz-border-radius:0;
    -webkit-border-radius:0;
        border-radius:0; 
            padding:3px 5px;
            font-size:12px;
            float:left;}
.menuset_details_item .target,
.menuset_details_item .destination{ margin:5px 0; }
.menuset_details_item .target select,
.menuset_details_item .destination select{ 
    -moz-border-radius:0;
    -webkit-border-radius:0;
        border-radius:0; 
            border:1px solid #bbb;
            padding:3px 5px; 
            font-size:12px;
            height:32px;
            float:left;
            margin:0;}
.menuset_details_item .label label,
.menuset_details_item .target label,
.menuset_details_item .destination label,
.menuset_details_item .url label{  
    padding-right:10px; 
    line-height:32px;
    text-align:right; 
    display:block; 
    height:32px; 
    float:left; 
    width:125px;}
.menuset_details_item .url input{
    border-radius: 0;
}
.menuset_details_item .label span,
.menuset_details_item .target span,
.menuset_details_item .destination span{ display:block; margin-bottom:10px; }
.menuset_details_item .url{ margin:5px 0 10px; display:none;}
.menuset_details_item .url input{ font-size:12px; padding: 3px 5px; }
.menuset_details_item .act{ border-top:1px dashed #bbb; padding:10px 0; text-align:right; margin-top:10px; }
.medium_textbox{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
        border-radius:5px;
            font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
            border:1px solid #bbbbbb;
            height:20px !important;
            padding:5px !important;
            min-width:200px;
            font-size:14px;
            background:#fff;
            height:30px;
            width:40%;
            padding:0;}
.process-alert{border:1px solid #ccc; padding:10px; display:none; font-weight:bold; color:red; margin:5px 0;}


/* CONFIGURATION MENU */
a.config_menu{
	margin-left: 20px;
    float: left;
    margin-top: 10px;
}
.form_lang_label{
	display: none;
}
.input_lang{
    margin-left: 135px;
    margin-top: 10px;
}
.input_lang label{
    width: 120px;
    float: left;
    margin-top: 7px;
}