/*Tabs*/
ul.tabs{
	border-bottom:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	list-style:none;
	height:32px;
	width:100%;
	float:left;
	padding:0;
	margin:0;}
ul.tabs li{
	background:#EAEAEA url(../images/panel_bg.jpg) repeat-x left;
	border:1px solid #BBBBBB;
	border-bottom:none;
	margin-bottom:-1px;
	position:relative;
	line-height:31px;
	border-left:none;
	height:31px;
	float:left;
	padding:0;
	margin:0;}
ul.tabs li a{ text-decoration:none; color:#000000; display:block; font-size:12px; padding:0 7px; outline:none; float:left; }
ul.tabs li span{ padding:0 2px; cursor:pointer; }
ul.tabs li a:hover{ background:#F5F5F5; border-bottom:1px solid #BBBBBB; height:31px; }

html ul.tabs li.active{ background:#FFFFFF; line-height:32px; height:32px; }
html ul.tabs li.active a:hover{ background:none; border:none; }

.tab_container{ border-left:1px solid #BBBBBB; border-top:none; overflow:hidden; clear:both; float:left; width:100%; }
.tab_content{ font-size:12px; font-weight:normal; }
.tab_content_image{ font-size:11px; font-weight:normal; height:100%; }
.tab_content_image fieldset{ padding:20px; border:none; height:100%; }
.single_content{ border-top:1px solid #BBBBBB; }
.media_upload{ position:relative; z-index:1; }
.media_upload_wrapp{ position:relative; height:100%; margin-top:-33px; padding-top:32px; border-left:0; }
.media_upload_content{ overflow:auto; height:100%; z-index:1; }
.media_upload_content .alert_red_form{ margin-top:0; }
.media_upload_content .action_box{ margin:0; text-align:right; }
.media_upload_content .action_box .button{ height:auto; padding:5px; width:40px; margin:0 2px; }
.attach_box{ padding:20px 10px; overflow:auto; position:absolute; height:100%; left:0; right:0; top:31px; }
.attach-list-action-box{ padding:10px 0; margin-bottom:22px; }
.upload_image_detail{ display:none; padding-top:0; }

ul.media_upload{ border-left:0; }
ul.media_upload li{ border-top:0; }
ul.media_upload li a:hover{ border-bottom:0; }

ul.cat_tab, ul.tag_tab{
	background:url(../images/menu_bg.jpg) repeat-y top left;
	border-bottom:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
	margin:0px 0 0 0;
	list-style:none;
	height:207px;
	width:100%;
	padding:0;}

ul.cat_tab li, ul.tag_tab li{
	margin-right:-1px;
	line-height:31px;
	overflow:hidden;
	padding:0px;
	height:31px;
	margin:0;}
ul.cat_tab li a,ul.tag_tab li a{
	text-decoration:none;
	color:#000;
	display:block;
	font-size:11px;
	padding:0 10px;
	outline:none;}

ul.cat_tab li a:hover, ul.tag_tab li a:hover{
	background:#ccc;
	
}
html ul.cat_tab li.active, html ul.cat_tab li.active a:hover,
html ul.tag_tab li.active, html ul.tag_tab li.active a:hover{ /*--Makes sure that the active tab does not listen to the hover properties--*/
	/*background:#eaeaea url(../images/panel_bg.jpg) repeat-x left;	*/
	background-color:#fff;
}
.view_more_tabs ul{
	padding:0;
	margin:0;
	position:absolute;
	top:31px;
	left:0px;
	display:none;

}
.view_more_tabs ul li{
	list-style:none;
	border-left:1px solid #999;
	background:#fff;
	
}
.view_more_tabs ul li a{
	display:block;
	border:none;
	width:200px;
	
}