<!-- BEGIN page-block -->
<section class="wrap-desc-detail-page" id="scroll-destination">
    <div class="container-desc-detail">
        <div class="description-value" data-aos="fade-up">
            {post_content}
        </div>

        <div class="container-details-features clearfix" >

            <div class="clearfix">
                
                <div class="container-details" data-aos="fade-up">
                    <h2>{text_specifications}</h2>
    
                    {villa_details}
    
                </div>
                
                {amenities_content}
            </div>

            
            {benefits_html}

        </div>
        
        {section_map_location}
        {wa_numb}

    </div>
</section>

<section class="wrap-booking-acco-form">
    <div class="container-booking-acco-form" data-aos="fade-up">
        <h2>{text_book} SAMAYA {destination_upper}</h2>
        <form class="clearfix" action="https://redirect.fastbooking.com/DIRECTORY/dispoprice.phtml" target="_blank" method="POST">

            <input type="hidden" name="showPromotions" value="1">
            <input type="hidden" name="langue" value="">
            <input type="hidden" name="Clusternames" value="{hotels_name}">
            <input type="hidden" name="Hotelnames" value="{hotels_name}">
            <!-- <input type="hidden" name="adulteresa" value=""> -->
            <input type="hidden" name="properties" value="{properties_name}">
            <input type="hidden" name="arrival" value="">
            <input type="hidden" name="departure" value="">

            <div class="form-left">
                <div class="container-form-input clearfix">
                    <label for="">{text_arrival}</label>
                    <input type="text" class="arrival" autocomplete="off" readonly name="arrival-date" placeholder="{text_choose_date}" >
                </div>
                <div class="container-form-input clearfix">
                    <label for="">{text_departure}</label>
                    <input type="text" class="departure" autocomplete="off" readonly name="departure-date" placeholder="{text_choose_date}" >
                </div>
                <div class="container-form-input clearfix">
                    <label for="">{text_room}</label>
                    <select name="rooms">
                        <option value="">{text_choose_room}</option>
                        <option value="1">1 {text_room}</option>
                        <option value="2">2 {text_room}</option>
                        <option value="3">3 {text_room}</option>
                        <option value="4">4 {text_room}</option>
                    </select>
                </div>
            </div>
            <div class="form-right">
                <div class="container-form-input clearfix">
                    <label for="">{text_adults}</label>
                    <select name="adulteresa">
                        <option value="">{text_choose_adults}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="container-form-input clearfix">
                    <label for="">{text_child}</label>
                    <select name="children1">
                        <option value="">{text_choose_child}</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="container-form-input access-code clearfix">
                    <label for="">{text_access_code} :</label>
                    <input type="text" class="" name="AccessCode" placeholder="{text_enter_code}" >
                </div>
            </div>

            <button class="check-availability"> {text_check_availability} </button>
        </form>
    </div>
</section>


<section class="wrap-other-accommodation" >
    <h2 data-aos="fade-up">{text_other_villa}</h2>

    <div class="container-slide-other">
        <div class="inner">
    
            <!-- BEGIN loop-list-block -->
            <a href="{post_link}" data-aos="fade-up">
                <div class="container list-item clearfix">
                    <div class="element container-image lazy" data-aos="fade-up" data-src="{image_product}">
                        <div class="loader"></div>
                    </div>
                    <div class="container list-item-description clearfix" data-aos="fade-up">
                        <p class="text _text list-item-subtitle">{text_accommodation}</p>
                        <h3 class="text _text list-item-title">{title_product}</h3>
                        <div class="list-item-brief">{brief_product}</div>
                        <p class="text _text list-item-text-explore">{text_explore}</p>
                    </div>
                </div>
            </a>
            <!-- END loop-list-block -->
    
        </div>
        <div class="container-button-nav-slide" data-aos="fade-up">
            <div class="overlay-slide-product">
                <div class="prev-next"></div>
            </div>
            <div class="button-explore-more" data-aos="fade-up">
                <a href="{link_explore}">{text_explore_more}</a>
            </div>
        </div>
    </div>
</section>
<!-- END page-block -->