<!-- BEGIN page-block -->
<section class="wrap-content-offers-page clearfix">
    <div class="container clearfix">
        <h3 class="subtitle">{subtitle}</h3>
        <h1 class="text _text text-title-offers">{title}</h1>
        <div class="element element-offers-1"></div>
        <div class="element element-offers-2"></div>
    </div>
    <div class="text _text text-desc-offers">{description}</div>
</section>

<section class="wrap-accolades-list">
    <div class="container-accolades-list clearfix">

        <!-- BEGIN loop-list-block -->
        <div class="list-item">
            <img src="{featured_image}" alt="{post_title}">
            <div class="element-line"></div>
            <h3>{post_title}</h3>
        </div>
        <!-- END loop-list-block -->

    </div>
</section>
<!-- END page-block -->