<!-- BEGIN page-block -->
<section class="wrap-maps-contact-us">
    <div id="map" style="height: 100%;"></div>
</section>

<section class="wrap-content-contact-us">
    <div class="container-contact-us clearfix">
        <h1>{text_contact_us}</h1>

        
        <div class="contact-form" data-aos="fade-up">
            <form action="" method="POST" class="contact_form" name="contact_form">
                <p>{text_please_complete_all_fields}</p>
                <div class="form-response"></div>
                <input type="text" name="fullname" class="require_contact" placeholder="{text_full_name} *">
                <select name="country" id="" class="selectize">
                    <option value="">{text_country}*</option>
                    {country_option}
                </select>
                <input type="text" class="is_numeric" name="phone" placeholder="{text_phone}">
                <input type="text" name="email" class="require_contact" placeholder="{text_email} *">
                <textarea name="find_us" placeholder="{text_how_find_us}"></textarea>
                <div class="container-recapcha clearfix">
                    <div class="g-recaptcha" data-sitekey="{captcha_site_key}"></div>	
                </div>
                <button class="send-contact" data-text-send="{text_send}" data-text-loading="{text_please_wait}" name="send_contact">{text_send}</button>
            </form>
        </div>

        <div class="contact-information" data-aos="fade-up">
            <h3>THE SAMAYA {destination} - BALI</h3>
            <p>{address}</p>
            <p>t. <a href="tel:{phone_number}">{phone_number}</a></p>
            <p>e. <a href="mailto:{email_address}">{email_address}</a></p>

            <div class="social-media">
                <h3>{text_stay_connected_with_us}</h3>
                {social_media_html}
            </div>
        </div>
    </div>
</section>

<input type="hidden" name="latitude" value="{latitude}">
<input type="hidden" name="longitude" value="{longitude}">
<input type="hidden" name="title_destination" value="{title_dest}">
<input type="hidden" name="map_icon" value="{maps_icon}">
<!-- END page-block -->