<!-- BEGIN page-block -->

<!-- POPUP DINING LIST MENU -->
<div class="popup-dining-list">
    <div class="close-popup">
        <span></span>
    </div>

    <div class="container-menu-list-dining">

        <!-- BEGIN menu-dining-popup-block -->
        <div class="category-dining-list">
            
            <div class="choose-type clearfix">
                <span class="choose_cat_mobile"></span>
                <img src="{HTTP}{assets_url}/images/arrow-dining_down.svg" />
            </div>

            <ul class="clearfix">
                {category_li_html}
            </ul>
        </div>

        <div class="wrap-list-dining">

            
            <div class="scrollbar-macosx">

                <!-- BEGIN loop-cat-menu-popup-block -->
                <div class="menu-list" id="{category_sanitize}">
                    {list_item_menu_html}
                </div>
                <!-- END loop-cat-menu-popup-block -->

            </div>

            <div class="bottom-menu-list-popup clearfix">
                <p class="desc-our-menu">{our_menu_desc}</p>
                {menu_pdf_download}
            </div>
        </div>
        <!-- END menu-dining-popup-block -->

    </div>
    
</div>

<section class="wrap-desc-detail-page" id="scroll-destination">
    <div class="container-desc-detail" data-aos="fade-up">
        {dresscode_restaurant}

        <div class="description-value" data-aos="fade-up">
            {post_content}
        </div>

        <div class="wrap-dining-menu">

            <div class="container-text-other-menu {hide}" data-aos="fade-up">
                <h3>{text_our_menus}</h3>
                <p>{our_menu_desc}</p>
            </div>
    
            
            <!-- BEGIN menu-dining-block -->
            <div class="wrap-menu-list-dining" data-aos="fade-up">
    
                <!-- BEGIN loop-cat-menu-block -->
                <div class="list-menu-dining clearfix" data-filter="{category_sanitize}" data-title="{category_name}">
                    <!-- {category_menu_image_html} -->
                    <h3>{category_name}</h3>
                    {button_pdf_dining}
                </div>
                <!-- END loop-cat-menu-block -->
    
            </div>
            <!-- END menu-dining-block -->
        </div>

    </div>

</section>


<section class="wrap-reservation-dining {hide_reservation}" data-aos="fade-up">
    <div class="container-reservation-dining clearfix">
        <div class="left">
            <div class="container-reservation-text" data-aos="fade-up">
                <h3>{text_reservation}</h3>
                <p>{text_asking_reservations_restaurant_online}</p>
                <!-- <p>Would Like To Make A Restaurant <br/> Reservation Online?</p> -->
                <div class="container-or clearfix" data-aos="fade-up">
                    <div class="element-or"></div>
                    <p>{text_or}</p>
                </div>
                <p class="pb-0" data-aos="fade-up">
                    {text_call}: <a href="tel:{phone_number}">{phone_number}</a> <br/>
                    {text_email}: <a href="mailto:{email_address}">{email_address}</a> 
                </p>
            </div>
        </div>
        <div class="right" data-aos="fade-up">
            <!-- <img class="image image-16" src="{HTTP}{assets_url}/images/dining-booking.png"> -->
            <div id="rd-widget-frame" style="max-width: 600px; margin: auto;"></div>
        </div>
    </div>
</section>


<section class="wrap-other-accommodation">
    <h2 data-aos="fade-up">{text_other_dining}</h2>

    <div class="container-slide-other">
        <div class="inner" data-aos="fade-up">

            <!-- BEGIN loop-list-block -->
            <a href="{post_link}">
                <div class="container list-item clearfix">
                    <div class="element container-image lazy" data-src="{image_product}"></div>
                    <div class="container list-item-description clearfix" data-aos="fade-up">
                        <p class="text _text list-item-subtitle">{text_dining}</p>
                        <h3 class="text _text list-item-title">{title_product}</h3>
                        <div class="list-item-brief">{brief_product}</div>
                        <p class="text _text list-item-text-explore">{text_explore}</p>
                    </div>
                </div>
            </a>
            <!-- END loop-list-block -->

        </div>
        
        <div class="container-button-nav-slide">
            <div class="overlay-slide-product">
                <div class="prev-next"></div>
            </div>
            <div class="button-explore-more">
                <a href="{link_explore}">{text_explore_more}</a>
            </div>
        </div>
    </div>
</section>
<!-- END page-block -->