<!-- BEGIN page-block -->
<section class="wrap-desc-detail-page" id="scroll-destination">
    <div class="container-desc-detail clearfix" data-aos="fade-up">
        <h2 data-aos="fade-up">{post_title}</h2>
        <div class="price" data-aos="fade-up">{price}</div>
        <div class="description-value" data-aos="fade-up">
            {post_content}
        </div>

        {inclusion_content}
        
        {additional_content}

        {terms_conditions_content}
        
        {wa_numb}
    </div>
</section>

<section class="wrap-reservation lazy" data-aos="fade-up" data-src="{bg_wedding_events_reservation}">
    <div class="container-reservation">
        <h3 data-aos="fade-up">{text_reservation}</h3>
        <p data-aos="fade-up">{text_asking_reservations_events_online}</p>
        <div class="contact-reservation">
            <div class="line-white" data-aos="fade-up"></div>
            <p class="or" data-aos="fade-up"></p>
            <div class="clear"></div>
            <p data-aos="fade-up">{text_call}: <a href="tel:{phone_number}">{phone_number}</a></p>
            <p data-aos="fade-up">{text_email}: <a href="mailto:{email_address}">{email_address}</a></p>
        </div>
    </div>
</section>

<section class="wrap-other-accommodation">
    <h2 data-aos="fade-up">{text_other_events}</h2>
    
    <div class="container-slide-other">

        <div class="inner" data-aos="fade-up">

            <!-- BEGIN loop-list-block -->
            <a href="{post_link}">
                <div class="container list-item clearfix">
                    <div class="element container-image lazy" data-src="{image_product}">
                        <div class="loader"></div>
                    </div>
                    <div class="container list-item-description clearfix" data-aos="fade-up">
                        <p class="text _text list-item-subtitle">{text_events}</p>
                        <h3 class="text _text list-item-title">{title_product}</h3>
                        <div class="list-item-brief">{brief_product}</div>
                        <p class="text _text list-item-text-explore">{text_explore}</p>
                    </div>
                </div>
            </a>
            <!-- END loop-list-block -->

        </div>
        
        <div class="container-button-nav-slide" data-aos="fade-up">
            <div class="overlay-slide-product">
                <div class="prev-next"></div>
            </div>
            <div class="button-explore-more" data-aos="fade-up">
                <a href="{link_explore}">{text_explore_more}</a>
            </div>
        </div>
    </div>
</section>
{wa_numb}
<!-- END page-block -->