<!-- BEGIN page-block -->
<section class="wrap-desc-detail-page" id="scroll-destination">
    <div class="container-desc-detail clearfix" data-aos="fade-up">
        {html_price}
        
        {html_date}
        
        <div class="description-value" data-aos="fade-up">
            {post_content}
        </div>

        {additional_adds_content}
        
        {terms_conditions_content}

        <div class="clear"></div>

        {button_book}
    </div>
</section>

<section class="wrap-other-accommodation">
    <h2 data-aos="fade-up">{text_other_offers}</h2>
    
    <div class="container-slide-other">

        <div class="inner" data-aos="fade-up">

            <!-- BEGIN loop-list-block -->
            <a href="{post_link}">
                <div class="container list-item clearfix">
                    <div class="element container-image lazy" data-src="{image_product}">
                        <div class="loader"></div>
                    </div>
                    <div class="container list-item-description clearfix" data-aos="fade-up">
                        <p class="text _text list-item-subtitle">{text_offer}</p>
                        <h3 class="text _text list-item-title">{title_product}</h3>
                        <div class="list-item-brief">{brief_product}</div>
                        <p class="text _text list-item-text-explore">{text_explore}</p>
                    </div>
                </div>
            </a>
            <!-- END loop-list-block -->

        </div>
        <div class="container-button-nav-slide" data-aos="fade-up">
            <div class="overlay-slide-product">
                <div class="prev-next"></div>
            </div>
            <div class="button-explore-more" data-aos="fade-up">
                <a href="{link_explore}">{text_explore_more}</a>
            </div>
        </div>
    </div>
</section>
<!-- END page-block -->