<!-- BEGIN home-block -->

<!-- START SECTION ABOUT -->
<section class="container wrap-about-destination clearfix" id="scroll-destination">
    <div class="container-about-destination">
        <div class="container container-about-title clearfix" data-aos="fade-up">
            <p class="text _text text-title-about" data-aos="fade-up">{text_your_luxury_begins_here} </p>
            <p class="text _text text-sub-title-about" data-aos="fade-up">{appname_upper}</p>
            <div class="line-about"></div>
        </div>
        <div class="container container-about-description clearfix" data-aos="fade-up">
            <div class="text _text text-description-about" data-aos="fade-up">
                {description_dest}
            </div>
            <div class="container container-explore-more-about clearfix" data-aos="fade-up">
                <a href="{link_about}"><p class="text _text">{text_explore_more} </p></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>


<!-- START SECTION LIST OFFERS -->
<section class="container wrap-list-promotion clearfix" >
    <div class="inner">

        <!-- BEGIN loop_offers_list -->
        <a href="{post_link_offers}" data-aos="fade-up">
            <div class="container list-item clearfix">
                <div class="element container-image lazy" data-aos="fade-up" data-src="{image_offers}">
                    <div class="loader"></div>
                </div>
                <div class="container list-item-description clearfix">
                    <p class="text _text list-item-subtitle" data-aos="fade-up">{subtitle_offers}</p>
                    <h2 class="text _text list-item-title" data-aos="fade-up">{title_offers}</h2>
                    <div class="list-item-brief" data-aos="fade-up">{brief_offers}</div>
                    <p class="text _text list-item-text-explore" data-aos="fade-up">{text_explore}</p>
                </div>
            </div>
        </a>
        <!-- END loop_offers_list -->

    </div>

    <div class="container-button-nav-slide" >
        <div class="overlay-slide-product" data-aos="fade-up">
            <div class="prev-next"></div>
        </div>
        <div class="button-explore-more" data-aos="fade-up">
            <a href="{link_exlore_all_offers}">{text_explore_more}</a>
        </div>
    </div>

</section>


<!-- START SECTION LIST ACCOMMODATION -->
<section class="container wrap-list-accomodation clearfix">
    <div class="container container-list-accomodation-image clearfix" data-aos="fade-up">
        <div class="inner">

            <!-- BEGIN loop_accommodations_list -->
            <div class="item" data-subtitle="{subtitle_accommodations}" data-title="{title_accommodations}" data-desc="{brief_accommodations}" data-link="{link_accommodations}">
                <img data-src="{image_accommodations}" class="lazy" alt="">
            </div>
            <!-- END loop_accommodations_list -->

        </div>
        
        <!-- <div class="shadow"></div> -->
        <div class="hide-right"></div>
    </div>
    <div class="container wrap-desc-list-acco desktop clearfix" data-aos="fade-up">
        <div class="container container-desc-list-acco clearfix">
            <p class="text _text text-sub-title-accomodation-list" data-aos="fade-up">{subtitle_acco}</p>
            <p class="text _text text-title-accomodation-list" data-aos="fade-up">{title_acco}</p>
            <div class="text _text text-description-accomodation-list" data-aos="fade-up">{brief_acco}</div>
            <div class="container contaner-explore-accomodation-list clearfix" data-aos="fade-up">
                <a href="{link_acco}">
                    <p class="text _text text-explore-more-acco-list">{text_explore_more} </p>
                </a>
            </div>
            <div class="prev-next-dest desktop clearfix" data-aos="fade-up"></div>
        </div>
    </div>

    <!-- SLIDER ACCOMMODATION LIST ON MOBILE -->
    <div class="container container-list-accomodation-image-mobile clearfix">
        <div class="inner">
            <!-- BEGIN loop_accommodations_list_mobile -->
            <div class="item" data-aos="fade-up">
                <a href="{link_accommodations}"><img data-src="{image_accommodations}" class="lazy" alt=""></a>
                <div class="container wrap-desc-list-acco clearfix" data-aos="fade-up">
                    <div class="container container-desc-list-acco clearfix">
                        <p class="text _text text-sub-title-accomodation-list" data-aos="fade-up">{subtitle_accommodations}</p>
                        <a class="link_title clearfix" href="{link_accommodations}" data-aos="fade-up"><p class="text _text text-title-accomodation-list">{title_accommodations}</p></a>
                        <div class="text _text text-description-accomodation-list" data-aos="fade-up">{brief_accommodations}</div>
                        <div class="container contaner-explore-accomodation-list clearfix" data-aos="fade-up">
                            <a href="{link_accommodations}">
                                <p class="text _text text-explore-more-acco-list">{text_explore_more} </p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END loop_accommodations_list_mobile -->
        </div>
        
        <div class="prev-next-dest mobile clearfix" data-aos="fade-up"></div>
    </div>

    
</section>


<!-- START SECTION LIST EXPERIENCE -->
<section class="container wrap-experience-list clearfix">
    <div class="container wrap-experience-title clearfix"  data-aos="fade-up">
        <div class="container container-experience-title clearfix">
            <h2 class="text _text text-experience">{title_experience_setting}</h2>
            <!-- <p class="text _text text-at-samaya">
                <span>at</span> SAMAYA {appname_upper}</p> -->
        </div>
        <div class="element line-experience-title"></div>
    </div>
    <div class="text _text text-description-experience"  data-aos="fade-up">
        {desc_experience_setting}
    </div>
    <div class="container container-list-experience" data-aos="fade-up">
        <ul>

            <!-- BEGIN loop_experience_list -->
            <li data-aos="fade-up" class="lazy">
                <a href="{link_experience}">
                    <div class="bg-experience-list lazy" data-src="{image_experience}">
                        <div class="loader"></div>
                    </div>
                    <div class="overlay"></div>
                    <div class="content-title-list-exp">
                        <h3 data-aos="fade-up">{text_discover}</h3>
                        <h2 data-aos="fade-up">{title_experience}</h2>
                    </div>
                </a>
            </li>
            <!-- END loop_experience_list -->

            <div class="clear"></div>
        </ul>
    </div>
</section>


<!-- START SECTION EVENTS -->
<section class="container wrap-wedding-at-samaya clearfix">
    <div class="container container-slider-wedding" data-aos="fade-up">

        {slide_event}

        <div class="prev-next"></div>
        
        <div class="container container-arrow-slider-wedding clearfix">
            <!-- <img class="image image-25" src="images/arrow2.svg">
            <img class="image image-26" src="images/arrow1.svg"> -->
        </div>
    </div>
    <div class="container container-description-wedding clearfix" data-aos="fade-up">
        <div class="container container-title-wedding clearfix">
            <h2 class="text-title-wedding">{title_event_setting}</h2>
        </div>
        <div class="text _text text-brief-wedding">{desc_event_setting}</div>
        <div class="container container-see-package-wedding clearfix">
            <a href="{link_events}"><p class="text _text text-see-package-wedding">{text_see_packages} </p></a>
        </div>
    </div>
</section>


<!-- START TRIPADVISOR SECTION -->
<section class="container wrap-trip-advisor clearfix">
    <div class="con-advisor-title">
        <div class="title-reviews" data-aos="fade-up">
            <h2>{title_advisor}</h2>
            <div class="line-element"></div>
        </div>
        <div class="con-rating-choice">
            <div class="clearfix wrap-rating-value" data-aos="fade-up">
                <h3>{rating_advisor}</h3>
                {rating_bullet}
            </div>
            <p class="count-reviews" data-aos="fade-up">{review_advisor}</p>
            <div class="traveller-choice" data-aos="fade-up">
                <p>{badge_advisor}</p>
            </div>
        </div>
    </div>
    <div class="con-advisor-list-testimoni">
        <div class="inner clearfix">
            {tripad_review_html}
        </div>

        <div class="prev-next" data-aos="fade-up"></div>
    </div>
</section>


<!-- START SECTION WHATS HAPPENING -->
<section class="container wrap-what-happening clearfix">
    <div class="container container-what-happening clearfix">
        <div class="container container-title-what-happening clearfix" data-aos="fade-up">
            <h1>{title_whats_happening}</h1>
        </div>
        <div class="container container-social-media clearfix">
            <p class="text _text text-stay-connected" data-aos="fade-up">{text_stay_connected_with_us}&nbsp;</p>
            <div class="container container-list-social-media clearfix" data-aos="fade-up">
                {social_media_html}
            </div>
        </div>
    </div>
    <div class="container wrap-instagram-feed clearfix" data-aos="fade-up">
        {get_social_media_photo}
    </div>
</section>


<!-- START SECTION ACCOLADES -->
<section class="wrap-content-offers-page clearfix">
    <div class="container clearfix">
        <h3 class="subtitle_accolades" data-aos="fade-up">{subtitle}</h3>
        <h1 class="text _text text-title-offers" data-aos="fade-up">{title_accolades}</h1>
        <div class="element element-offers-1" data-aos="fade-up"></div>
        <div class="element element-offers-2" data-aos="fade-up"></div>
    </div>
    <div class="text _text text-desc-offers" data-aos="fade-up">{description_accolades}</div>
</section>

<section class="wrap-accolades-list">
    <div class="container-accolades-list clearfix">

        <!-- BEGIN loop-list-accolades-block -->
        <div class="list-item">
            <img data-src="{featured_image_accolades}" class="lazy" data-aos="fade-up" alt="{post_title_accolades}">
            <div class="element-line" data-aos="fade-up"></div>
            <h3 data-aos="fade-up">{post_title_accolades}</h3>
        </div>
        <!-- END loop-list-accolades-block -->

    </div>
</section>
<!-- END home-block -->