<!-- BEGIN page-block -->
<section class="wrap-content-offers-page clearfix">
    <div class="container clearfix" data-aos="fade-up">
        <h1 class="text _text text-title-offers">{title}</h1>
        <div class="element element-offers-1"></div>
        <div class="element element-offers-2"></div>
    </div>
    <div class="text _text text-desc-offers" data-aos="fade-up">{description}</div>
</section>


<section class="wrap-offers-list clearfix">
    <div class="container-offers clearfix">

        <!-- BEGIN loop-list-block -->
        <div class="container-list-item" data-aos="fade-up">
            <a href="{post_link}" class="offers-link">
                <!-- <img data-src="{featured_image}" class="list-prod lazy" alt="{post_title}" /> -->
                <div class="overlay"></div>
                <div class="bg-item lazy" data-src="{featured_image}">
                    <div class="loader"></div>
                </div>
            </a>   
            <div class="content-description-item clearfix">
                <a href="{post_link}"><h2>{post_title}</h2></a>
                <div class="line-item"></div>
                <div class="desc-value-item">
                    <p>{post_brief}</p>
                </div>
                {button_book}
                <div class="detail-btn-item">
                    <a href="{post_link}">{text_details}</a>
                </div>
            </div>
        </div>
        <!-- END loop-list-block -->

    </div>
</section>
{wa_numb}
<!-- END page-block -->