<!-- BEGIN page-block -->
<section class="wrap-content-page clearfix" id="scroll-destination">
    <div class="container-title-page clearfix" data-aos="fade-up">
        <p class="text _text title-content-page">{title_page}</p>
        <div class="element line-title-des"></div>
        <div class="element line-title-page"></div>
    </div>
    <div class="text _text description-page" data-aos="fade-up">
        {description_page}

        {download_spa_menu_link}

        {html_rest_diary}
    </div>
</section>

<!-- START BULLET PAGE -->
<nav class="section-nav">
    <ul>
        {nav_li}
    </ul>
</nav>
<!-- END BULLET PAGE -->

<!-- BEGIN page-list-block -->
<div class="wrap-content-list-product">
    <!-- BEGIN loop-list-block -->
    <section class="wrap-list-product {class_scroll} clearfix" id="{container_id}">
        <div class="container container-slide-product" data-aos="fade-up">
            
            <a href="{post_link}">{post_gallery}</a>

            <div class="prev-next"></div>
        </div>
        <div class="container container-list-desc-product clearfix" data-aos="fade-up">

            <div class="content-desc-product clearfix">
                
                <div class="container container-list-title-product clearfix">
                    <div class="element"></div>
                    <a href="{post_link}"><h2 class="text _text text-title-list-product">{post_title}</h2></a>
                </div>

                <!-- BEGIN acco-block -->
                {villa_details}
                <!-- END acco-block -->

                <div class="text _text text-brief-list-product">{post_brief}</div>
                
                {link_details}

                {button_book_now_list}

            </div>

        </div>
    </section>
    <!-- END loop-list-block -->
</div>
<!-- END page-list-block -->


<!-- BEGIN page-list-only-spa-block -->
<section class="container wrap-list-promotion clearfix" >
    <div class="inner" data-type="spa">

        <!-- BEGIN loop-list-only-spa-block -->
        <a href="{post_link}" data-aos="fade-up">
            <div class="container list-item clearfix">
                <div class="element container-image lazy" data-aos="fade-up" data-src="{featured_image}">
                    <div class="loader"></div>
                </div>
                <div class="container list-item-description clearfix">
                    <!-- <p class="text _text list-item-subtitle" data-aos="fade-up">{subtitle_offers}</p> -->
                    <h2 class="text _text list-item-title" data-aos="fade-up">{post_title}</h2>
                    <div class="list-item-brief" data-aos="fade-up">{post_brief}</div>
                    {link_details_spa}
                </div>
            </div>
        </a>
        <!-- END loop-list-only-spa-block -->
        
    </div>
</section>
<!-- END page-list-only-spa-block -->

<!-- END page-block -->