<!-- BEGIN page-block -->
<section class="wrap-content-page clearfix" id="scroll-destination">
    <div class="container-title-page clearfix" data-aos="fade-up">
        <p class="text _text title-content-page">{title_page}</p>
        <div class="element line-title-des"></div>
        <div class="element line-title-page"></div>
    </div>
    <div class="text _text description-page" data-aos="fade-up">
        {description_page}
    </div>
</section>

<!-- START BULLET PAGE -->
<nav class="section-nav">
    <ul>
        {nav_li}
    </ul>
</nav>
<!-- START BULLET PAGE -->


<div class="wrap-content-list-product">
    <!-- BEGIN loop-list-block -->
    <section class="wrap-list-product {class_scroll} clearfix" id="{container_id}">
        <div class="container container-slide-product" data-aos="fade-up">
            
            <a href="{post_link}">{post_gallery}</a>

            <div class="prev-next"></div>
        </div>
        <div class="container container-list-desc-product clearfix" data-aos="fade-up">

            <div class="content-desc-product clearfix">
                
                <div class="container container-list-title-product clearfix">
                    <div class="element"></div>
                    <a href="{post_link}"><h2 class="text _text text-title-list-product">{post_title}</h2></a>
                </div>

                <!-- BEGIN acco-block -->
                {villa_details}
                <!-- END acco-block -->

                <div class="text _text text-brief-list-product">{post_brief}</div>
                
                {link_details}

                {button_book_now_list}

            </div>

        </div>
    </section>
    <!-- END loop-list-block -->
</div>

<!-- END page-block -->