<!-- BEGIN 404-block -->
<header class="container wrap-hero hero clearfix" style="
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{post_image}');
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{post_image}');
    background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{post_image}');
    background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{post_image}');
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{post_image}');
">
    <a href="{home_url}" class="logo-href"><img src="{HTTP}{assets_url}/images/logo-{name_logo}.svg" /></a>

    <div class="wrap-page-404">
        <div class="container-page-404">
            <h1>{post_title}</h1>
            <div class="line"></div>
            <p>{post_content}</p>

            <a href="{home_url}">{text_return_to_home}</a>
        </div>
    </div>

</header>
<!-- END 404-block -->