<!-- BEGIN page-block -->
<section class="wrap-content-offers-page clearfix">
    <div class="container clearfix">
        <h3 class="subtitle">{subtitle}</h3>
        <h1 class="text _text text-title-offers">{title}</h1>
        <div class="element element-offers-1"></div>
        <div class="element element-offers-2"></div>
    </div>

    <div class="filter-gallery clearfix">
        <div class="con-filter-gallery-category click-filter">
            <input type="hidden" name="search" value="all" />
            <span>{text_all_photos}</span>
            <div class="select-option clearfix">
                {category_html}
            </div>
        </div>
    </div>
    <!-- <div class="text _text text-desc-offers">{description}</div> -->
</section>


<section class="wrap-other-accommodation">

    
    <div class="page-loader-gallery clearfix">
        <img src="{HTTP}{assets_url}/images/press-gallery/loading.svg" />
    </div>

    <div id="wrap-press-gallery-con">
        <div id="container-press-gallery">
            <div class="container-slide-other">
                <div class="inner">
                    <!-- BEGIN loop-list-block -->
                    {list_gallery}
                    <!-- END loop-list-block -->
                </div>
                
                <div class="container-button-nav-slide">
                    <div class="overlay-slide-product">
                        <div class="prev-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

{wa_numb}
<input type="hidden" name="page_url" value="{page_url}">
<!-- END page-block -->