<!-- BEGIN ruleAddNew -->

<h1>{app_title}</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container">
    {alert}

    <form class="{form_class}" method="post" action="#" enctype="multipart/form-data" name="upload" >

        {is_edit_all}
        {is_saved}

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
        </div>

        {language_button}

        <!-- BEGIN loopRule -->
        <div class="content-lang EN active">
            <div class="list_edit">
                <fieldset>
                    <p>Name</p>
                    <p><input type="text" class="textbox forclone" name="name[0]" value="{name}" rel="input" data-name="lname" autocomplete="off" /></p>
                </fieldset>

                {parent}

                <fieldset>
                    <p>Description</p>
                    <p>{description}</p>
                </fieldset>
                <input type="hidden" class="textbox" name="rule_id[0]" value="{rule_id}" />

                {application_additional_data}
            </div>
        </div>
        <!-- END loopRule -->


        {language_data}

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
        </div>

    </form>
</div>

<!-- END ruleAddNew -->