<!-- BEGIN form-block -->

<h1>{app_title}</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container {group}">

    {alert}

    <form method="post" action="" enctype="multipart/form-data">

        {is_edit_all} 
        {is_saved}

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    <li>{button}</li>
                </ul>
            </div>
        </div>

        {language_button}

        <div class="content-lang EN active">
            <div class="list_edit">
                <fieldset>
                    <p>Title</p>
                    <input type="text" class="textbox forclone" name="title[{i}]" value='{title}' rel="input" data-name="larticle_title" autocomplete="off" />
                    {sef_scheme}
                </fieldset>

                <fieldset>
                        <p>Sub Title</p>
                        <p><input type="text" class="textbox forclone" name="subtitle[{i}]" value="{subtitle}" rel="input" data-name="larticle_subtitle" autocomplete="off" /></p>
                </fieldset>

                <!-- <fieldset>
                        <p>Brief Text</p>
                        <textarea name="overview[{i}]" value="{overview}" rel="input" data-name="larticle_overview" style="float: left;width: 100%;height: 100px;font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 14px;color: #333333;padding: 10px 8px;">{overview}</textarea>
                </fieldset> -->

                <fieldset class="{post_link_cls}">
                    <p>Link</p>
                    <input type="text" class="textbox forclone" name="link[{i}]" value="{link}" rel="input" data-name="llink" autocomplete="off" />
                </fieldset>

                <fieldset class="{post_loc_cls}">
                    <p>Location</p>
                    <input type="text" class="textbox forclone" name="location[{i}]" value="{location}" rel="input" data-name="lloc" autocomplete="off" />
                </fieldset>

                <fieldset class="{post_map_cls}">
                    <p>Position onGoogle Map</p>
                    <input type="text" class="textbox forclone" name="map[{i}]" value="{map}" rel="input" data-name="lmap" autocomplete="off" />
                </fieldset>

                <fieldset class="{post_date_cls}">
                    <p>Post Date</p>
                    <input type="text" class="date_textbox forclone" name="post_date[{i}]" value="{post_date}" rel="input" data-name="lpost_date" autocomplete="off" />
                </fieldset>

                <!-- <fieldset class="{post_publish_cls}">
                    <p>Publish Date</p>
                    <input type="text" class="date_textbox forclone" name="publish_date[{i}]" value="{publish_date}" rel="input" data-name="lpublish_date" autocomplete="off" />
                </fieldset> -->

                <fieldset class="{start_date_cls}">
                    <p style="float: left;width: 250px;margin-right: 7px;">Start Date</p> <p style="float: left;width: 250px;">End Date</p>
                    <input type="text" class="date_textbox forclone" style="float: left;clear: both;margin-right: 7px;" name="start_date[{i}]" value="{start_date}" rel="input" data-name="lstart_date" autocomplete="off" />
                    <input type="text" class="date_textbox forclone" style="float: left;" name="end_date[{i}]" value="{end_date}" rel="input" data-name="lend_date" autocomplete="off" />

                    <p style="float: left;width: 250px;margin-right: 7px;clear: both;margin-top: 10px;">Start Time</p><p style="float: left;width: 250px;margin-top: 10px;">End Time</p>
                    <input type="text" class="textbox timetextbox forclone" style="float: left;clear: both;width: 250px;min-width: 250px;margin-right: 7px;" name="start_time[{i}]" value="{start_time}" rel="input" data-name="lstart_time" autocomplete="off" placeholder="Choose Time" />
                    <!-- <select name="start_time[{i}]" placeholder="Choose Time" style="float: left;clear: both;width: 250px;min-width: 250px;margin-right: 7px;margin-top: 0;height: 33px;font-size: 14px;">
                        <option value="">Choose Time</option>
                        {option_times}
                    </select> -->
                    <input type="text" class="textbox timetextbox forclone" style="float: left;width: 250px;min-width: 250px;" name="end_time[{i}]" value="{end_time}" rel="input" data-name="lend_time" autocomplete="off" placeholder="Choose Time" />
                    <!-- <select name="end_time[{i}]" placeholder="Choose Time" style="float: left;width: 250px;min-width: 250px;margin-right: 7px;margin-top: 0;height: 33px;font-size: 14px;">
                        <option value="">Choose Time</option>
                        {option_times_end}
                    </select> -->
                </fieldset>

                <!-- <fieldset class="{end_date_cls}">
                    <p>End Date</p>
                    <input type="text" class="date_textbox forclone" name="end_date[{i}]" value="{end_date}" rel="input" data-name="lend_date" autocomplete="off" />
                </fieldset> -->

                <!-- <fieldset class="{post_time_cls}">
                    <p>Time</p>
                    <input type="text" class="textbox timetextbox forclone" style="width: 250px;min-width: 250px;" name="time[{i}]" value="{time}" rel="input" data-name="ltime" autocomplete="off" />
                </fieldset> -->

                <fieldset>
                    <p>Description</p>
                    {textarea}
                </fieldset>

                <fieldset class="category_tag">
                    <div class="categories_tags clearfix">
                        <div class="categories">
                            <h2>Categories</h2>
                            <div class="tags_cat_content clearfix">
                                <div class="tags_cat_nav">
                                    <ul class="cat_tab" id="cat_tab_{i}">
                                        <li><a href="#all_categories_{i}">All Categories</a></li>
                                        <li><a href="#mostused_category_{i}">Most Used</a></li>
                                    </ul>
                                </div>
                                <div class="tags_cat_val">
                                    <div id="all_categories_{i}" class="catcontent_{i}">
                                        {all_categories}
                                    </div>
                                    <div id="mostused_category_{i}" class="catcontent_{i}">
                                        {most_used_categories}
                                    </div>
                                </div>
                                {add_new_category}
                            </div>
                        </div>

                        <div class="tags">
                            <h2>Tags</h2>
                            <div class="tags_cat_content clearfix">
                                <div class="tags_cat_nav">
                                    <ul class="tag_tab" id="tag_tab_{i}">
                                        <li><a href="#the_tags_{i}" id="add_tags_button_{i}">Add Tags</a></li>
                                        <li><a href="#mostused_tabs_{i}">Most Used</a></li>
                                    </ul>
                                </div>
                                <div class="tags_cat_val">
                                    <div id="the_tags_{i}" class="tabcontent_{i}">
                                        {all_tags}
                                    </div>
                                    <div id="mostused_tabs_{i}" class="tabcontent_{i}">
                                        {most_used_tags}
                                    </div>
                                </div>
                                {add_new_tag}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="{post_page_cls}">
                    {related_product}
                </fieldset>

                <fieldset>
                    <span style="display:none;">
                        {comments_settings}
                        {share_to}
                    </span>

                    {application_additional_data}
                    {additional_data}

                </fieldset>
            
                <script type="text/javascript">

                    $(document).ready(function() {
                        $('.date_textbox').datepicker({ dateFormat:'dd MM yy' });
                        /*$('.timetextbox').timepicker({
                            timeFormat: 'HH:mm',
                            interval: 30,
                            //defaultTime: 'Choose Time',
                            startTime: '00:00',
                            dynamic: false,
                            dropdown: true,
                            scrollbar: true,
                        });*/
                        jQuery('.related_productform').chosen({ disable_search_threshold:10 });
                        
                        //When page loads...            
                        $(".tabcontent_{i}").hide(); //Hide all content            
                        $(".catcontent_{i}").hide(); //Hide all content            
                        $("ul#cat_tab_{i} li:first").addClass("active").show(); //Activate first category tab            
                        $("ul#tag_tab_{i} li:first").addClass("active").show(); //Activate first tag tab            
                        $(".catcontent_{i}:first").show(); //Show first category tab content            
                        $(".tabcontent_{i}:first").show(); //Show first tag tab content

                        //On Click Category Tab Event            
                        $("ul#cat_tab_{i} li").click(function() {            
                            $("ul#cat_tab_{i} li").removeClass("active"); //Remove any "active" class            
                            $(this).addClass("active"); //Add "active" class to selected tab            
                            $(".catcontent_{i}").hide(); //Hide all tab content
                    
                            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
                    
                            $(activeTab).fadeIn(); //Fade in the active ID content            
                            return false;            
                        });
                    
                        $("ul#tag_tab_{i} li").click(function() {            
                            $("ul#tag_tab_{i} li").removeClass("active"); //Remove any "active" class            
                            $(this).addClass("active"); //Add "active" class to selected tab            
                            $(".tabcontent_{i}").hide(); //Hide all tab content
                    
                            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content   

                            $(activeTab).fadeIn(); //Fade in the active ID content            
                            return false;
                        });

                        //ON new category textbox click            
                        $("input[name=new_category[{i}]]").focus(function(){            
                            $(this).val("");            
                        });
                    
                        $("input[name=new_category[{i}]]").blur(function(){            
                            $(this).val($(this).val()==''?'New category name':$(this).val());            
                        });

                        //ON new tag textbox click            
                        $("input[name=new_tag[{i}]]").focus(function(){            
                            $(this).val("");            
                        });

                        $("input[name=new_tag[{i}]]").blur(function(){            
                            $(this).val($(this).val()==''?'New tag':$(this).val());            
                        });

                        //Add Category Button Click            
                        $("input[name=add_category_btn[{i}]]").click(function(){            
                            if($("input[name=new_category[{i}]]").val()!="New category name" && $("input[name=new_category[{i}]]").val()!="")
                            {
                                var parent=$("select[name=parent[{i}]]").val();                
                                var name=$("input[name=new_category[{i}]]").val();                
                                var description="";                
                                var rule="categories";                
                                var group="{group}";                
                                var selected=$("span#selected_category_{i}").text();
                                var additional_fields = '';
                                var add_language_rule = true;

                                if( $('.categories .mlanguage-fieldset').length > 0 )
                                {
                                    additional_fields = '&'+jQuery('.categories .mlanguage-fieldset').serialize();
                                }
                        
                                $(this).attr("disabled","disabled");                
                                $(this).val("Adding...");
                        
                                var parameter="add_language_rule="+add_language_rule+"&parent="+parent+"&name="+name+"&description="+description+"&rule="+rule+"&group="+group+"&index={i}&insert_rules=true&selected="+selected+additional_fields;
                                
                                $.post("taxonomy.php",parameter,function(data){

                                    // console.log(data);
                                    $("#all_categories_{i}").html(data);

                                    if( typeof set_mlanguage_category_list !== 'undefined' && $.isFunction(set_mlanguage_category_list) )
                                    {
                                        var vars = new Object;
                                            vars.site_url = jQuery('[name=mlanguage_site_url]').val();
                                            vars.ajax_url = jQuery('[name=mlanguage_ajax_url]').val();
                                            vars.plug_url = jQuery('[name=mlanguage_plugin_url]').val();

                                            vars.state    = jQuery('.state[name=state]').val();
                                            vars.tab      = jQuery('.tab[name=tab]').val();
                                            vars.prc      = jQuery('.prc[name=prc]').val();
                                            vars.id       = jQuery('.id[name=id]').val();

                                            vars.locs     = window.location;

                                        var url = vars.ajax_url;
                                        var prm = new Object;
                                            prm.ajax_key = 'get-language-active';

                                        jQuery.post(url, prm, function( lang ){
                                            jQuery('.categories_tags .categories .the_categories .mlanguage-fieldset').remove();
                                            set_mlanguage_category_list( vars, lang );
                                        }, 'json');
                                    }
                                });
                        
                                var parameter2="rule="+rule+"&group="+group+"&index={i}&update_parent=true";
                        
                                $.post("taxonomy.php",parameter2,function(data){                
                                    $("#select_parent_{i}").html(data);

                                    if( typeof set_mlanguage_category_fields !== 'undefined' && $.isFunction(set_mlanguage_category_fields) )
                                    {
                                        var vars = new Object;
                                            vars.site_url = jQuery('[name=mlanguage_site_url]').val();
                                            vars.ajax_url = jQuery('[name=mlanguage_ajax_url]').val();
                                            vars.plug_url = jQuery('[name=mlanguage_plugin_url]').val();

                                            vars.state    = jQuery('.state[name=state]').val();
                                            vars.tab      = jQuery('.tab[name=tab]').val();
                                            vars.prc      = jQuery('.prc[name=prc]').val();
                                            vars.id       = jQuery('.id[name=id]').val();

                                            vars.locs     = window.location;

                                        var url = vars.ajax_url;
                                        var prm = new Object;
                                            prm.ajax_key = 'get-language-active';

                                        jQuery.post(url, prm, function( lang ){
                                            jQuery('.categories_tags .categories .add_new_cattags .mlanguage-fieldset').remove();
                                            set_mlanguage_category_fields( vars, lang );
                                        }, 'json');
                                    }
                                });
                        
                                $(this).val("Add");                
                                $(this).removeAttr('disabled');                
                                $("input[name=new_category[{i}]]").val("");
                            }
                        });

                        //Add Tags Button Click            
                        $("input[name=add_tag[{i}]]").click(function(){
                            var input_tags=$("input[name=new_tag[{i}]]").val();            
                            var taglabel=input_tags.split(",");

                            if(input_tags!='' && input_tags!='New tags')
                            {
                                $(this).attr("disabled","disabled");
                                $(this).val("Adding...");
                        
                                for(i=0;i<taglabel.length;i++)
                                {
                                    var count_child=$(".tag_index_{i}").size();

                                    var thetag="<div class=\"tag_list tag_index_{i} clearfix\" id=\"the_tag_list_{i}_"+count_child+"\">";
                                        thetag+="<div class=\"tag_name\">"+$.trim(taglabel[i])+"</div>";
                                        thetag+="<div class=\"tag_action\">";
                                        thetag+="<a href=\"javascript:;\" id=\"remove_tag_"+count_child+"\" onclick=\"$('the_tag_list_{i}_"+count_child+"').animate({'backgroundColor':'#FF6666' },500);$('#the_tag_list_{i}_"+count_child+"').remove();\">X</a>";
                                        thetag+="</div>";
                                        thetag+="<input type=\"hidden\" name=\"tags[{i}][]\" value=\""+$.trim(taglabel[i])+"\" />";
                                        thetag+="</div>";
                            
                                    if(count_child==0)
                                    {
                                        $("#tag_list_{i}").html('');                    
                                        $("#tag_list_{i}").append(thetag);                    
                                    }
                                    else
                                    {
                                        $(".tag_index_{i}:first").before(thetag);                    
                                    }
                                }

                            $(this).val("Add");            
                            $(this).removeAttr('disabled');

                            var input_tags=$("input[name=new_tag[{i}]]").val("");            
                            }            
                        });            
                    });            
                </script>
            </div>
        </div>

        {language_data}

        <div class="button_wrapper bottom clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
        </div>
    </form>
</div>

<!-- END form-block -->