.lumonata_menu ul li.menu,
.lumonata_menu ul li.accommodation,
.lumonata_menu ul li.dining,
.lumonata_menu ul li.activities,
.lumonata_menu ul li.attractions,
.lumonata_menu ul li.news,
.lumonata_menu ul li.press-download,
.lumonata_menu ul li.facilities,
.lumonata_menu ul li.gallery,
.lumonata_menu ul li.artists,
.lumonata_menu ul li.special-offers,
.lumonata_menu ul li.accolades,
.lumonata_menu ul li.experience,
.lumonata_menu ul li.spa,
.lumonata_menu ul li.language,
.lumonata_menu ul li.events,
.lumonata_menu ul li.weddings,
.lumonata_menu ul li.what-to-do-around,
.lumonata_menu ul li.what-to-do-act-in,
.lumonata_menu ul li.tripadvisor-review,
.lumonata_menu ul li.e-gift-card{
    background-repeat: no-repeat;
    background-position: 7px top;
}

.lumonata_menu ul li.menu {
    background-image: url(../../../lumonata-plugins/custom-post/images/menu.png);
}

.lumonata_menu ul li.accommodation {
    background-image: url(../../../lumonata-plugins/custom-post/images/rooms.png);
}

.lumonata_menu ul li.dining {
    background-image: url(../../../lumonata-plugins/custom-post/images/dinings.png);
}

.lumonata_menu ul li.activities {
    background-image: url(../../../lumonata-plugins/custom-post/images/activities.png);
}

.lumonata_menu ul li.attractions {
    background-image: url(../../../lumonata-plugins/custom-post/images/attractions.png);
}

.lumonata_menu ul li.news,
.lumonata_menu ul li.press-download {
    background-image: url(../../../lumonata-plugins/custom-post/images/news.png);
}

.lumonata_menu ul li.facilities {
    background-image: url(../../../lumonata-plugins/custom-post/images/facilities.png);
}

.lumonata_menu ul li.gallery {
    background-image: url(../../../lumonata-plugins/custom-post/images/gallery.png);
}

.lumonata_menu ul li.artists {
    background-image: url(../../../lumonata-plugins/custom-post/images/artists.png);
}

.lumonata_menu ul li.special-offers {
    background-image: url(../../../lumonata-plugins/custom-post/images/offer.png);
}

.lumonata_menu ul li.accolades {
    background-image: url(../../../lumonata-plugins/custom-post/images/badges.png);
}

.lumonata_menu ul li.experience,
.lumonata_menu ul li.spa {
    background-image: url(../../../lumonata-plugins/custom-post/images/experience.png);
}

.lumonata_menu ul li.language {
    background-image: url(../../../lumonata-plugins/custom-post/images/language.png);
}

.lumonata_menu ul li.events{
    background-image: url(../../../lumonata-plugins/custom-post/images/events.png);
    background-size: 24px 24px ;
}

.lumonata_menu ul li.weddings{
    background-image: url(../../../lumonata-plugins/custom-post/images/weddings.png);
    background-size: 24px 24px ;
}

.lumonata_menu ul li.what-to-do-act-in{
    background-image: url(../../../lumonata-plugins/custom-post/images/what-to-do-act-in.png);
    background-size: 24px 24px ;
}

.lumonata_menu ul li.what-to-do-around{
    background-image: url(../../../lumonata-plugins/custom-post/images/what-to-do-around.png);
    background-size: 24px 24px ;
}

.lumonata_menu ul li.tripadvisor-review{
    background-image: url(../../../lumonata-plugins/custom-post/images/tripadvisor.png);
}

.lumonata_menu ul li.e-gift-card {
    background-image: url(../../../lumonata-plugins/custom-post/images/e-gift-card.png);
}