.img-wrapp{margin:20px 0;}
.img-wrapp .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:200px; position:relative; text-align:center;}
.img-wrapp img{width:auto; max-width:100%;}
.img-wrapp .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.img-wrapp .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.img-wrapp .box:hover .overlay{display:block;}

.apps-setting-wrapp .message{ display:block; padding:10px; margin:0 20px 5px; }
.apps-setting-wrapp .message p{ margin:0; line-height:1.38; }
.apps-setting-wrapp .error{ background-color:#FFBABA; border:1px solid #D8000C; color:#D8000C; }
.apps-setting-wrapp .success{ background-color:#DFF2BF; border:1px solid #4F8A10; color:#4F8A10; }

.menu-pdf-file{ padding:10px 5px; }

.pdf-file{ padding:5px 30px 5px 10px; border:1px solid #BBB; position:relative; float:left; background:#f5f5f5; }
.pdf-file a{ 
	position:absolute;  
	text-align:center;
	background:#000; 
	cursor:pointer;
	color:#FFFFFF; 
	height:15px; 
	right:-1px; 
	width:15px; 
	top:-1px;}


.sett-box .bg-img{ max-width:300px; border:1px solid rgb(198, 216, 220); min-height:120px; display:block; text-align:center; vertical-align:middle; padding:2px; }
.sett-box .bg-block{ position:relative; display:inline-block; }
.sett-box .bg-block:hover a{ display:block; }
.sett-box .upload-btn{ margin-top:10px; }
.sett-box .delete-bg{ 
	background-color:rgba(0,0,0,0.7);
    position:absolute;
    cursor:pointer;
    display:none;
	bottom:0;
	right:0;
	left:0;
	top:0;}
.sett-box .delete-bg img{
    background-image:url('images/delete.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:20px auto;
    	position:absolute;
    	margin-left:-10px;
    	margin-top:-10px;
	    height:20px;
	    width:20px;	
	    left:50%;
	    top:50%;}
.list_edit .sett-box fieldset{ padding:10px 5px; }

p.red{
	color: red!important;
	margin-top: 10px!important;
	float: none;
}