<!-- BEGIN header-block -->

{slider_hero_page}

<header class="container wrap-hero hero clearfix" style="
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{bg_hero}');
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{bg_hero}');
    background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{bg_hero}');
    background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{bg_hero}');
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{bg_hero}');
">

    <a href="{home_url}">
        <img class="image image-logo-web" src="{HTTP}{assets_url}/images/logo-{appname}.svg">
    </a>

    <!-- BURGER MENU HEADER -->
    <div class="hamburger-menu-header clearfix">
        <div class="line line-top"></div>
        <div class="line line-middle"></div>
        <div class="line line-bottom"></div>
    </div>

    <div class="menu-header-with-mobile clearfix">
        <div class="container wrap-header-menu clearfix">
            <div class="container wrap-header-menu-content clearfix">
                
                {html_360}
                
                <div class="container wrap-header-menu-content-switch-des clearfix">
                    <a href="#" class="text _text wrap-header-menu-text-switch-des">{appname_upper}</a>
                    <div class="select-option">
                        <ul>
                            {destination_list}
                        </ul>
                    </div>
                </div>
                <div class="container wrap-header-menu-switch-lang clearfix">
                    {switch_lang}
                </div>
                <div class="container wrap-header-menu-time-suhu clearfix">
                    <div class="container wrap-header-menu-suhu clearfix">
                        <p class="text _text wrap-header-menu-text-cloud default">26°C </p>
                    </div>
                    <div class="container wrap-header-menu-time clearfix">
                        <p class="text _text wrap-header-menu-text-time">02:53 PM (+08) </p>
                    </div>
                </div>
                <div class="container wrap-header-menu-social-media clearfix">
                    {social_media_html}
                </div>
            </div>
        </div>
        <div class="container container-menu-list clearfix">

            {header_menu}

        </div>
    </div>

    <div class="wrap-title-hero">
        {title_hero}
    </div>

    <img class="image image-scroll-down-hero scroll-down" src="{HTTP}{assets_url}/images/scroll-down.svg"> {form_booking_hero}

    <img class="image image-arrow-down-hero scroll-down" src="{HTTP}{assets_url}/images/scrolldown-arrow.svg"> {list_link_product_hero} {button_download_hero}

    {button_vote}

</header>
<!-- END header-block -->