<!-- BEGIN header-slide-block -->
<div class="wrap-slide-hero">
    <div class="inner">

        <!-- BEGIN loop-header-slide-block -->
        <div class="slide-bg-hero" style="
            background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{img_large}');
            background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{img_large}');
            background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{img_large}');
            background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{img_large}');
            background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url('{img_large}');
        ">
        </div>
        <!-- END loop-header-slide-block -->

    </div>

    <div class="button-slider-hero">
        <button class="zoom-slider"></button>
        <div class="arrow-next-prev"></div>
    </div>
</div>


<div class="wrap-slide-popup">
    <!-- <div class="container-lang-popup">
        {switch_lang}
    </div> -->

    <div class="popup-slider">

        <h3>{title_page_popup}</h3>
        <div class="inner">
            <!-- BEGIN loop-popup-slide-block -->
                <img src="{img_large}" alt="">
            <!-- END loop-popup-slide-block -->
        </div>

        <div class="container-dots-arrow">
            <div class="dots-popup clearfix"></div>
            <div class="prev-next-popup clearfix"></div>
        </div>
    </div>

    <div class="close-popup">
        <span></span>
    </div>
</div>
<!-- END header-slide-block -->