<!-- BEGIN landing-popup-block -->
<div id="welcome" class="landing-popup clearfix">
    <div class="close-popup">
        <span></span>
    </div>
    <div class="container wrap-landing-popup clearfix">
        <div class="inner">
            <h3>Welcome To Our New Website</h3>
            <div class="desc">
                <p>As you may have noticed, the Samaya website has just had a makeover. The look and navigation of the site is new and information has been made more accessible.</p>
                <p>If you have any problem with your booking process, please contact Hotel directly <a href="tel:+62 361 73114">+62 361 731149</a></p>
            </div>
        </div>
    </div>
</div>
<!-- END landing-popup-block -->