<!-- BEGIN list-block -->

<h1>Pages</h1>
<div class="tab_container">
    <div class="single_content">
        <div id="response"></div>
        <form action="{state_url}" method="post" name="alist">                   
           <input type="hidden" name="start_order" value="{start_order}" />
           <input type="hidden" name="state" value="pages" />

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
               <div class="button_right">
                    {search_box}
               </div>                  
            </div>

            <div class="status_to_show">Show: {filter}</div>

            <div class="list">
                <div class="list_title">
                    <div class="pages_title sorted {sort_title_cls}">
			            <input type="checkbox" name="select_all" class="title_checkbox" />
			            <a href="{sort_title}">
			                <span>Title</span>
			                <span class="sorting-indicator"></span>
			            </a>
			        </div>
                    <div class="list_author">Author</div>
                    <div class="avatar"></div>
                    <div class="list_date">Page Date</div>
                    <div class="list_date">Page Updated</div>
                </div>

                <div id="list_item">
                    {page_list}
                </div>

                {load_more}
                {load_more_js}
            </div>
        </form>
                
        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>   
            </div>
        </div>
    </div>
</div>

<!-- END list-block -->