<!-- BEGIN rule_additional_block -->

<link type="text/css" href="{HTTP}{plugin_url}/style.css" rel="stylesheet">

<input type="hidden" name="action_type" value="{action_type}">

<fieldset>
	<p>Featured Image</p>
    <div class="rule-additional-featured-img">
        <div class="slider">
            <h3>Select an image file on your computer (2MB max):</h3>
            <div class="featured-img clearfixed">{featured_img}</div>
            <input type="file" name="featured_img" autocomplete="off" />
        </div>
    </div>
</fieldset>

<script type="text/javascript">
	/*
	| -------------------------------------------------------------------------------------
	| Upload Featured Image
	| -------------------------------------------------------------------------------------
	*/
	function upload_featured_img(){
		jQuery('[name=featured_img]').change(function(el){
	        var data = new FormData();
	            data.append('ajax_key', 'upload-rule-featured-images');
	            data.append('app_name', '{app_name}');
	            data.append('rule_id', jQuery('[name=rule_id[{i}]]').val());
	            data.append('featured_img', el.currentTarget.files[0]); 
	        
	        var xhrObject = new XMLHttpRequest();

	        xhrObject.open('POST', '{HTTP}{site_url}/additional-ajax/');  
	        xhrObject.onreadystatechange = function(){
	            if(xhrObject.readyState==4 && xhrObject.status==200){
	                var e = JSON.parse(xhrObject.responseText);

	                if(e.result=='success'){
	                     var images =
	                    '<div class="box">'+
	                        '<img src="{HTTP}{site_url}/lumonata-plugins/additional/featured/'+e.filename+'" />'+
	                        '<div class="overlay">'+
	                            '<a data-post-id="'+e.post_id+'" class="img-delete" title="Delete">'+
	                                '<img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png">'+
	                            '</a>'+
	                        '</div>'+
	                    '</div>';

	                    jQuery('.featured-img').html(images);
	                    delete_featured_img();
	                }else{
	                    alert(e.data);
	                }
	            }
	        }

	        xhrObject.send(data);
	    });

	    delete_featured_img();
	}

	/*
	| -------------------------------------------------------------------------------------
	| Delete Featured Image
	| -------------------------------------------------------------------------------------
	*/
	function delete_featured_img(){
		jQuery('.featured-img .img-delete').click(function(){
	    	var url = '{HTTP}{site_url}/additional-ajax/';
	    	var prm = new Object;
	    		prm.ajax_key = 'delete-rule-featured-images';
	    		prm.app_name = '{app_name}';
	    		prm.rule_id  = jQuery('[name=rule_id[{i}]]').val();

	    	jQuery.post( url, prm, function(e){
	    		if( e.result=='success' ){
	    			jQuery('.featured-img .box').remove();
	    		}else{
	    			alert('Failed to delete this image');
	    		}
	    	},'json');
	    });
	}

	jQuery(document).ready(function(){
		upload_featured_img();
	});
</script>

<!-- END rule_additional_block -->