<!-- BEGIN destinations_form -->

<script type="text/javascript" src="{HTTP}{plugin_url}/script.js?v=1.0.3"></script>

<h1 class="form-title">{form_title}</h1>
<div class="tab_container destination-wrapp">
    <div class="single_content">        
        <form method="post" enctype="multipart/form-data" >            
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
            </div>

            {language_button}
           
            <div class="content-lang EN active">
                <div class="list_edit">

                    {message}
    
                    <div class="hidden-element">
                        <input type="text" value="{post_id}" name="post_id" />
                        <input type="text" value="{state_url}" name="state_url" />
                        <input type="text" value="{plugin_url}" name="plugin_url" />
                    </div>
    
                    <fieldset>
                        <p>Title</p>
                        <input type="text" class="textbox" name="post_title" value="{post_title}" />
                    </fieldset>
    
                    <fieldset>
                        <p>Title Home Page Destination</p>
                        <input type="text" class="textbox" name="title_home_page" value="{title_home_page}" />
                    </fieldset>
    
                    <fieldset>
                        <p>Sub Title Home Page Destination</p>
                        <input type="text" class="textbox" name="subtitle_home_page" value="{subtitle_home_page}" />
                    </fieldset>
    
                    <fieldset>
                        <p>Description</p>
                        {post_content}
                    </fieldset>
    
                    <fieldset>
                        <p>Brief Landing Page</p>
                        {brief_landing_page}
                    </fieldset>
    
                    <fieldset>
                        <div class="additional_data">
                            <h2>Corporate Image</h2>
                            <div class="additional_content">
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="corporate-wrapp clearfixed">{corporate_image}</div>
                                    <input type="file" name="cp_image" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
    
                    <fieldset>
                        <div class="additional_data">
                            <h2>Background Image</h2>
                            <div class="additional_content">
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="background-wrapp clearfixed">{background_image}</div>
                                    <input type="file" name="bg_image" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Background Image For Home Page Destination</h2>
                            <div class="additional_content">
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="background_image_homepage clearfixed">{background_image_homepage}</div>
                                    <input type="file" name="background_image_homepage" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Footer Image</h2>
                            <div class="additional_content">
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="footer_image_wrap clearfixed">{footer_image}</div>
                                    <input type="file" name="footer_image" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                            <div class="additional_data">
                                <h2>Background Image (Weddings & Event Reservation)</h2>
                                <div class="additional_content">
                                    <div class="slider">
                                        <h3>Select an image file on your computer (2MB max):</h3>
                                        <div class="bg-events-wrapp clearfixed">{bg_events}</div>
                                        <input type="file" name="bg_events" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Gallery Image</h2>
                            <div class="additional_content additional-gallery-data">
                                <div id="block-gallery" class="block-gallery">
                                    <div id="dropzone">
                                        <div class="dropzone needsclick dz-clickable" id="gallery-upload">
                                            <div class="dz-message needsclick">
                                                Drop files here or click to upload.<br>
                                                <span class="note needsclick">( maximum size for upload image is 2MB )</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="preview-template" class="dz-preview dz-file-preview" style="display:none;">
                                        <div class="dz-preview dz-file-preview">
                                            <div class="dz-image"><img data-dz-thumbnail data-dz-thumbnail-id/></div>
                                            <div class="dz-details">
                                                <a class="dz-edit">
                                                    <img src="{HTTP}{site_url}/lumonata-plugins/additional/images/edit.png" />
                                                </a>
                                                <a class="dz-delete">
                                                    <img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png" />
                                                </a>
                                            </div>
                                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                                            <div class="dz-detail-box">
                                                <div class="detail">
                                                    <fieldset>
                                                        <p>Image Title</p>                
                                                        <input type="text" name="gallery_title" value="" class="textbox" />
                                                    </fieldset>
                                                    <fieldset>
                                                        <p>Image Alternate text</p>                
                                                        <input type="text" name="gallery_alt" value="" class="textbox" />
                                                    </fieldset>
                                                    <fieldset>
                                                        <p>Image Copyright</p>                
                                                        <input type="text" name="gallery_caption" value="" class="textbox" />
                                                    </fieldset>                                                
                                                    <fieldset>
                                                        <input type="button" class="save-detail" value="Save"/>
                                                        <input type="button" class="close-detail" value="Close"/>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="note">Recommended resolution for sideshow image is <b>1024px * 768px</b>, with maximum upload size <b>2MB</b></p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Dinner Reception Venue 1</h2>
                            <div class="additional_content">
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="dinner_reception_venue_1 clearfixed">{dinner_reception_venue_1}</div>
                                    <input type="file" name="dinner_reception_venue_1" autocomplete="off" />
                                </div>
                                <div class="info-list">
                                    <p>Title</p>
                                    <input type="text" class="textbox" name="title_reception_venue_1" value="{title_reception_venue_1}" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Dinner Reception Venue 2</h2>
                            <div class="additional_content">
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="dinner_reception_venue_2 clearfixed">{dinner_reception_venue_2}</div>
                                    <input type="file" name="dinner_reception_venue_2" autocomplete="off" />
                                </div>
                                
                                <div class="info-list">
                                    <p>Title</p>
                                    <input type="text" class="textbox" name="title_reception_venue_2" value="{title_reception_venue_2}" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    
                    <fieldset>
                        <div class="additional_data">
                            <h2>Video on Hero Slider</h2>
                            <div class="additional_content">                                
                                <div class="info-list">
                                    <p>Link video</p>
                                    <input type="text" class="textbox" name="pop_up_link_video" value="{pop_up_link_video}" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
    
                    <fieldset>
                        <div class="additional_data">
                            <h2>Information</h2>
                            <div class="additional_content">
                                <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Phone Number</p>
                                        <input type="text" class="textbox small" name="phone_number" value="{phone_number}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Fax. Number</p>
                                        <input type="text" class="textbox small" name="fax_number" value="{fax_number}" />
                                    </div>
                                </div>
                                <!-- <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Phone Number ( Reservation )</p>
                                        <input type="text" class="textbox small" name="reservation_phone_number" value="{reservation_phone_number}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Fax. Number  ( Reservation )</p>
                                        <input type="text" class="textbox small" name="reservation_fax_number" value="{reservation_fax_number}" />
                                    </div>
                                </div> -->
                                <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Facebook</p>
                                        <input type="text" class="textbox small" name="fb_link" value="{fb_link}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Youtube</p>
                                        <input type="text" class="textbox small" name="youtube_link" value="{youtube_link}" />
                                    </div>
                                </div>
                                <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Instagram</p>
                                        <input type="text" class="textbox small" name="instagram_link" value="{instagram_link}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Twitter</p>
                                        <input type="text" class="textbox small" name="twitter_link" value="{twitter_link}" />
                                    </div>
                                </div>
                                <!-- <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Whatsapp Number</p>
                                        <input type="text" class="textbox small" name="whatsapp_number" value="{whatsapp_number}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Show Whatsapp Button</p>
                                        <select class="select" name="whatsapp_status">
                                            {whatsapp_content}
                                        </select>
                                    </div>
                                </div> -->
                                <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Email (Inquiry)</p>
                                        <input type="text" class="textbox small" name="email_address" value="{email_address}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Email (Reservation)</p>
                                        <input type="text" class="textbox small" name="reservation_email_address" value="{reservation_email_address}" />
                                    </div>
                                </div>
                                <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Email Spa (Reservation)</p>
                                        <input type="text" class="textbox small" name="spa_reservation_email_address" value="{spa_reservation_email_address}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Tax Default Spa</p>
                                        <input type="text" class="textbox small tax-spa" name="tax_default_spa" value="{tax_default_spa}" />%
                                    </div>
                                </div>
                                
                                <div class="info-list clearfixed">
                                    <div class="push-left boxs">
                                        <p>Email Events (Inquiry)</p>
                                        <input type="text" class="textbox small" name="events_inquiry_email_address" value="{events_inquiry_email_address}" />
                                    </div>
                                    <div class="push-left boxs">
                                        <p>Email Dining (Reservation)</p>
                                        <input type="text" class="textbox small" name="dining_reservation_email_address" value="{dining_reservation_email_address}" />
                                    </div>
                                </div>
                                
                                <div class="info-list">
                                
                                        <p>Email Wedding (Inquiry)</p>
                                        <input type="text" class="textbox small" name="wedding_inquiry_email_address" value="{wedding_inquiry_email_address}" />
                                    
                                </div>
                                
                                <div class="info-list">
                                    <p>Intagram Username</p>
                                    <input type="text" class="textbox" name="instagram_user" value="{instagram_user}" />
                                </div>
                                <div class="info-list">
                                    <p>Position on Google Map</p>
                                    <input type="text" class="textbox" name="coordinate_location" value="{coordinate_location}" />
                                </div>
                                <div class="info-list">
                                    <p>Link Direction Google Maps</p>
                                    <input type="text" class="textbox" name="link_direction" value="{link_direction}" />
                                </div>
                                <div class="info-list">
                                    <p>Address</p>
                                    <textarea class="textbox" name="address">{address}</textarea>
                                </div>
                                <div class="info-list">
                                    <p>Villa Reservation</p>
                                    <input type="text" class="textbox small" name="villa_reservation" value="{villa_reservation}" />
                                </div>
                                <div class="info-list">
                                    <p>Restaurant Reservation</p>
                                    <input type="text" class="textbox small" name="restaurant_reservation" value="{restaurant_reservation}" />
                                </div>
                                <div class="info-list">
                                    <p>In-house Guest Inquiry</p>
                                    <input type="text" class="textbox small" name="guest_reservation" value="{guest_reservation}" />
                                </div>
                            
                            </div>
                        </div>
                        
                    </fieldset>

                    <!-- <fieldset>
                        <div class="additional_data">
                            <h2>Tripadvisor Widget Configuration</h2>
                            <div class="additional_content">
                                <div class="info-list">
                                    <p>Widget Travellers Choice Script</p>
                                    <textarea class="textbox" name="widget_traveller_choice">{widget_traveller_choice}</textarea>
                                </div>
                                <div class="info-list">
                                    <p>Widget Certificate of Excellenge Script</p>
                                    <textarea class="textbox" name="widget_certificate_excellenge">{widget_certificate_excellenge}</textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset> -->

                    <fieldset>
                        <div class="additional_data">
                            <h2>Meta Data Setting</h2>
                            <div class="additional_content">
                                <div class="info-list">
                                    <p>Meta Title</p>
                                    <input type="text" class="textbox" name="meta_title" value="{meta_title}" />
                                </div>
                                <div class="info-list">
                                    <p>Meta Keywords</p>
                                    <input type="text" class="textbox" name="meta_keywords" value="{meta_keywords}" />
                                </div>
                                <div class="info-list">
                                    <p>Meta Description</p>
                                    <textarea class="textbox" name="meta_description">{meta_description}</textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Mailchimp Setting</h2>
                            <div class="additional_content">
                                <div class="info-list">
                                    <p>API Key</p>
                                    <input type="text" class="textbox" name="mailchimp_api_key" value="{mailchimp_api_key}" />
                                </div>
                                <div class="info-list">
                                    <p>List ID</p>
                                    <input type="text" class="textbox" name="mailchimp_list_id" value="{mailchimp_list_id}" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- 
                    <fieldset>
                        <div class="additional_data">
                            <h2>Social Media Photo Setting</h2>
                            <div class="additional_content">
                                <div class="info-list">
                                    <p>Instagram Access Token</p>
                                    <input type="text" class="textbox" name="ig_access_token" value="{ig_access_token}" />
                                </div>
                                <div class="info-list">
                                    <p>Facebook Page Access Token</p>
                                    <input type="text" class="textbox" name="fb_access_token" value="{fb_access_token}" />
                                </div>
                                <div class="info-list">
                                    <p>Facebook Page ID</p>
                                    <input type="text" class="textbox" name="fb_page_id" value="{fb_page_id}" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    -->

                    <fieldset>
                        <div class="additional_data">
                            <h2>Instagram Feed</h2>
                            <div class="additional_content">
                                <div class="info-list">
                                    <p>Client ID</p>
                                    <input class="textbox" type="text" name="ig_client_id" value="{ig_client_id}" />
                                </div>
                                <div class="info-list">
                                    <p>Client Secret</p>
                                    <input class="textbox" type="text" name="ig_client_secret" value="{ig_client_secret}" />
                                </div>
                                <div class="info-list">
                                    <p>Redirect URI</p>
                                    <input class="textbox" type="text" name="ig_redirect_uri" value="{ig_redirect_uri}" />
                                </div>
                                <div class="info-list">
                                    <a class="generate generate-ig-token">Generate Token</a>
                                    <p>Token</p>
                                    <textarea class="textbox" name="ig_token">{ig_token}</textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Fast Booking Accommodation Setting</h2>
                            <div class="additional_content">
                                <div class="info-list">
                                    <p>Properties Name</p>
                                    <input type="text" class="textbox" name="fb_properties_name" value="{fb_properties_name}" />
                                </div>
                                <div class="info-list">
                                    <p>Hotels Name & Cluster Name</p>
                                    <input type="text" class="textbox" name="fb_hotels_name" value="{fb_hotels_name}" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Popup Newsletter Setting</h2>
                            <div class="additional_content">
                                <div class="info-list">
                                    <p>Status</p>
                                    {status_popup_newsletter_html}
                                </div>
                                <div class="info-list">
                                    <p>URL</p>
                                    <input type="text" class="textbox" name="url_popup_newsletter" value="{url_popup_newsletter}" />
                                </div>
                                <h3 class="policy">Popup Image</h3>
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="popup_image_newsletter clearfixed">{popup_image_newsletter}</div>
                                    <input type="file" name="popup_image_newsletter" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="additional_data">
                            <h2>Policy Page Setting</h2>
                            <div class="additional_content">
                                <h3 class="policy">Background Image Policy</h3>
                                <div class="slider">
                                    <h3>Select an image file on your computer (2MB max):</h3>
                                    <div class="bg_image_policy clearfixed">{bg_image_policy}</div>
                                    <input type="file" name="bg_image_policy" autocomplete="off" />
                                </div>
                                <div class="info-list">
                                    <p>Title Policy</p>
                                    <input type="text" class="textbox" name="title_policy" value="{title_policy}" />
                                </div>
                                <div class="info-list">
                                    <p>Sub Title Policy</p>
                                    <input type="text" class="textbox" name="sub_title_policy" value="{sub_title_policy}" />
                                </div>
                                <div class="info-list">
                                    <p>Description Policy</p>
                                    <textarea name="description_policy" class="tinymce" cols="30" rows="10">{description_policy}</textarea>
                                </div>
                                
                                <div class="info-list">
                                    <p>Meta Title Policy</p>
                                    <input type="text" class="textbox" name="meta_title_policy" value="{meta_title_policy}" />
                                </div>
                                <div class="info-list">
                                    <p>Meta Keywords Policy</p>
                                    <input type="text" class="textbox" name="meta_keywords_policy" value="{meta_keywords_policy}" />
                                </div>
                                <div class="info-list">
                                    <p>Meta Description Policy</p>
                                    <textarea name="meta_description_policy" class="textbox" cols="30" rows="10">{meta_description_policy}</textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
    
                </div>
            </div>

            {language_data}
            
            
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
            </div>           
        </form>    
    </div>
</div>

<script type="text/javascript">
/*
| -------------------------------------------------------------------------------------
| Set Gallery Image Data
| -------------------------------------------------------------------------------------
*/
function set_gallery_img()
{
    if( jQuery('#preview-template').length > 0 )
    {
        Dropzone.autoDiscover = false;
        
        var ajax_url   = '{HTTP}{site_url}/additional-ajax/';
        // console.log(ajax_url);
        var myDropzone = new Dropzone('#gallery-upload', { 
            url: ajax_url,
            previewTemplate: document.querySelector('#preview-template').innerHTML,
            maxFilesize: 2,
            init: function()
            {
                var url = ajax_url;
                var prm = new Object;
                    prm.ajax_key = 'get-gallery-dest';
                    prm.post_id  = jQuery('[name=post_id').val();

                jQuery.post(url, prm, function(e){
                    console.log(e);
                    if( e.result=='success' )
                    {
                        jQuery.each(e.data, function(i, e){
                            var mockFile = { 
                                url:e.url,
                                id:e.img_id,
                                title: e.img_title,
                                alt: e.img_alt,
                                caption: e.img_caption
                            };

                            myDropzone.emit('addedfile', mockFile);
                            myDropzone.emit('thumbnail', mockFile, e.img_thumb);
                            myDropzone.emit('complete', mockFile);
                            myDropzone.files.push(mockFile);
                        });
                    }
                },'json');

                this.on('addedfile', function(file) {			        
                    var sel     = jQuery(file.previewElement);
                    var id      = typeof file.id != 'undefined' ? file.id : '';
                    var title   = typeof file.title != 'undefined' ? file.title : '';
                    var alt     = typeof file.alt != 'undefined' ? file.alt : '';
                    var caption = typeof file.caption != 'undefined' ? file.caption : '';

                    sel.attr('id','gallery_'+id);
                    sel.find('.dz-detail-box [name=gallery_title]').val(title);
                    sel.find('.dz-detail-box [name=gallery_alt]').val(alt);
                    sel.find('.dz-detail-box [name=gallery_caption]').val(caption);

                    sel.find('.dz-delete').attr('rel', id);
                    sel.find('.dz-detail-box .save-detail').attr('rel', id);

                    sel.find('.dz-edit').unbind('click');
                    sel.find('.dz-edit').click(function(){
                        sel.toggleClass('opened');
                    });

                    sel.find('.dz-delete').unbind('click');
                    sel.find('.dz-delete').click(function(){
                        var url = ajax_url;
                        var prm = new Object;
                            prm.ajax_key  = 'delete-gallery-image';
                            prm.attach_id = jQuery(this).attr('rel');

                        jQuery.post(url, prm, function(e){

                            if(e.result=='success')
                            {
                                myDropzone.removeFile(file);
                            }
                            else
                            {
                                alert('Failed to delete this image');
                            }

                        },'json');
                    }); 

                    sel.find('.dz-detail-box .save-detail').unbind('click');
                    sel.find('.dz-detail-box .save-detail').click(function(){
                        var url = ajax_url;
                        var prm = new Object;
                            prm.ajax_key  = 'edit-gallery-info';
                            prm.attach_id = jQuery(this).attr('rel');
                            prm.title     = sel.find('.dz-detail-box [name=gallery_title]').val();  
                            prm.alt       = sel.find('.dz-detail-box [name=gallery_alt]').val();  
                            prm.caption   = sel.find('.dz-detail-box [name=gallery_caption]').val(); 

                        jQuery.post(url, prm, function(e){
                            sel.removeClass('opened');
                        },'json'); 

                        return false;
                    });

                    sel.find('.dz-detail-box .close-detail').unbind('click');
                    sel.find('.dz-detail-box .close-detail').click(function(){
                        sel.removeClass('opened');
                    });
                });

                this.on('error', function(file, message) { 
                    myDropzone.removeFile(file);
                    alert(message);
                });

                this.on('success', function(file, responseText){
                    var e = jQuery.parseJSON(responseText);

                    if( e.result = 'success' )
                    {
                        jQuery(file.previewElement).find('.dz-delete').attr('rel', e.attach_id);
                        jQuery(file.previewElement).find('.dz-detail-box .save-detail').attr('rel', e.attach_id);
                        jQuery(file.previewElement).find('.dz-detail-box [name=gallery_title]').val(e.title);
                        jQuery(file.previewElement).find('.dz-detail-box [name=gallery_alt]').val(e.alt);
                        jQuery(file.previewElement).find('.dz-detail-box [name=gallery_caption]').val(e.caption);
                    }
                    else
                    {
                        myDropzone.removeFile(file);   
                    }
                });

                this.on('sending', function(file, xhr, formData){
                    formData.append( 'ajax_key', 'upload-gallery-dest' );
                    formData.append( 'post_id', jQuery('[name=post_id]').val() );
                });
            }
        });
    }
}

function init_generate_ig_token()
{
    jQuery('.generate-ig-token').click(function(){
        var app_id = jQuery('[name=ig_client_id]').val();
        var app_sc = jQuery('[name=ig_client_secret').val();
        var rd_uri = jQuery('[name=ig_redirect_uri]').val();

        if( app_id != '' && app_sc != '' && rd_uri != '' )
        {
            window.location = 'https://api.instagram.com/oauth/authorize?client_id=' + app_id + '&redirect_uri=' + rd_uri + '&scope=user_profile,user_media&response_type=code&state={post_id}';
        }
        else
        {
            alert( 'Please check again your "Client ID", "Client Secret" and "Redirect URI" field, before generate your token' );
        }
    });
}

jQuery(document).ready(function(){
    init_generate_ig_token();
    set_gallery_img();
});
</script>
<!-- END destinations_form -->