.language-wrapp .list_edit{
    border-top: 1px solid #cccccc;
}

.language-wrapp .message{ display:block; padding:10px; margin:0 20px 5px; }
.language-wrapp .message p{ margin:0; line-height:1.38; }
.language-wrapp .error{ background-color:#FFBABA; border:1px solid #D8000C; color:#D8000C; }
.language-wrapp .success{ background-color:#DFF2BF; border:1px solid #4F8A10; color:#4F8A10; }

.lang_code{
    width: 100px!important;
    min-width: 100px!important;
}

.language-wrapp .search_box{ float:right; margin-top:10px !important; }
.language-wrapp .search-loader{ float:right; margin:10px; display:none; }
.language-wrapp .search_box .searchtext{ padding:0 10px; }
.language-wrapp .boxs{ -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.language-wrapp .boxs label{ display:block; padding:9px 0; }
.language-wrapp .boxs.title label{ padding-left:30px; }
.language-wrapp .title{ width:25%; }
.language-wrapp .description{ width:50%; padding-right:10px; }
.language-wrapp .status_default{ width:25%; padding-right:10px; }
.language-wrapp .description p{ width:90%; margin:0; padding:10px 0; }
.language-wrapp .push-left{ float:left; }
.language-wrapp .title_checkbox{ margin:10px 10px; vertical-align:top; left:20px; }
.language-wrapp .list_navigation{ display:none; }
.language-wrapp .list_item:hover .list_navigation{ display:block; } 
.language-wrapp .the_navigation_list{ margin-left:32px; }
.language-wrapp .the_navigation_list .list_navigation{ margin-left:0; }
.language-wrapp .delete-confirmation-wrapper{ display:none; }
.language-wrapp .button-box{ text-align:right; margin:10px 0 0 0; }
.language-wrapp .delete-confirmation-wrapper .button-box button{ padding:0 10px; }
.language-wrapp .delete-confirmation-wrapper .popup_block .popup{ padding:0; }
.language-wrapp .delete-confirmation-wrapper .alert_yellow{ width:auto; padding:20px; }
.language-wrapp .info-list{padding:0 10px 10px;}
.language-wrapp .info-list .push-left{padding-right:15px; width:50%;}
.language-wrapp .info-list .push-left:last-child{padding-right:0; padding-left:15px;}
.language-wrapp .textbox.small{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;  
			min-width:100% !important;
			height:32px !important; 
			width:50% !important;}
.language-wrapp textarea.textbox{height:150px !important; resize:none;}

.language-wrapp .boxs.string label{ padding-left:30px; }
.language-wrapp .string{ width:15%; }
.language-wrapp .name-lang{ width:20%; }

.language-wrapp .translation{
	width: 60%;
	padding-bottom: 10px;
}
.language-wrapp .translation .input-translation{
	clear: both;
}
.language-wrapp .translation label{
	width: 20%;
	float: left;
}

.clearfix::after{
	clear: both;
}

.language-wrapp .translation input{
	float: left;
	width: 60%;
	height: 30px;
	margin-top: 5px;
}

.language-wrapp .button_wrapper.dest{ margin-top:10px !important; }
.language-wrapp .button_navigation{ padding:0 !important; width:auto !important; }
.language-wrapp .list_title{ padding:0 !important; height:35px !important; width:auto !important; margin-bottom:0 !important; }
.language-wrapp .list_title input{ margin-left:10px !important; }
.language-wrapp .list_item{ padding:0 !important; margin:5px 0 !important; }
.language-wrapp .alert_red_form{ padding:20px !important; width:98% !important; margin:10px auto !important }
.language-wrapp .alert_red_form ol{ padding:0 15px; margin-bottom:0; }
.language-wrapp .alert_red_form ol li{ padding:2px 0; }
.language-wrapp .alert-button-box{ width:98%; margin:10px auto; text-align:right; }
.language-wrapp .alert-button-box .button{ padding:0 10px !important; }
.language-wrapp .textarea_button{ width:100% !important; }

.language-wrapp .slider{ padding:10px; }
.language-wrapp .slider h3{font-size:12px; font-weight:400; margin-top:0;}
.language-wrapp .slide-wrapp, 
.language-wrapp .loc-slide-wrapp{padding:10px; border:1px solid #ddd; background:#F0F0EE; margin-bottom:15px; min-height:120px;}
.language-wrapp .slide-wrapp .box, 
.language-wrapp .loc-slide-wrapp .box{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;	
	position:relative;
	height:100px;
	width:100px;
	float:left; }
.language-wrapp .slide-wrapp .list-box, 
.language-wrapp .loc-slide-wrapp .list-box{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box; 
			padding:5px;
			float:left; 
			width:50%;}
.language-wrapp .slide-wrapp .list-box .inner,
.language-wrapp .loc-slide-wrapp .list-box .inner{ background:#FFF; border:1px solid #ddd; padding:10px; }
.language-wrapp .slide-wrapp .list-box .overlay,
.language-wrapp .loc-slide-wrapp .list-box .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.language-wrapp .slide-wrapp .list-box .overlay a,
.language-wrapp .loc-slide-wrapp .list-box .overlay a{ position:absolute; top:40px; left:40px; cursor:pointer; }
.language-wrapp .slide-wrapp .list-box .overlay a.delete-slide,
.language-wrapp .loc-slide-wrapp .list-box .overlay a.delete-slide{ left:90px; }
.language-wrapp .slide-wrapp .list-box .field,
.language-wrapp .loc-slide-wrapp .list-box .field{ margin-left:110px; }
.language-wrapp .slide-wrapp .list-box .field .textbox,
.language-wrapp .loc-slide-wrapp .list-box .field .textbox{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			background-color:#FFFFFF !important;  
			min-width:100% !important;
			height:auto !important;
			width:auto !important;
			margin-bottom:10px;}
.language-wrapp .slide-wrapp .list-box .field textarea.textbox,
.language-wrapp .loc-slide-wrapp .list-box .field textarea.textbox{height:61px !important; margin-bottom:0 !important; resize:none;}

.language-wrapp .background-wrapp{margin-bottom:20px;}
.language-wrapp .background-wrapp .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:500px; position:relative; text-align:center;}
.language-wrapp .background-wrapp img{width:auto; max-width:100%;}
.language-wrapp .background-wrapp .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.language-wrapp .background-wrapp .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.language-wrapp .background-wrapp .box:hover .overlay{display:block;}

.language-wrapp .icon-wrapp{margin-bottom:20px;}
.language-wrapp .icon-wrapp .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:50px; position:relative; text-align:center;}
.language-wrapp .icon-wrapp img{width:auto; max-width:100%;}
.language-wrapp .icon-wrapp .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.language-wrapp .icon-wrapp .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.language-wrapp .icon-wrapp .box:hover .overlay{display:block;}

.language-wrapp .boxs-wrapp{ margin:5px; }
.language-wrapp .boxs-wrapp .boxs{ padding:10px; border-bottom:1px solid #DDDDDD; background-color:#f5f5f5; border:1px solid #DDD; position:relative; }
.language-wrapp .boxs-wrapp .boxs label{ margin-right:20px; }
.language-wrapp .boxs-wrapp .boxs .left{ width:50%; float:left; }
.language-wrapp .boxs-wrapp .boxs p{margin-top:0;}
.language-wrapp .boxs-wrapp .boxs .textbox, .boxs-wrapp .boxs .textarea{ width:95% !important; margin-bottom:10px; }
.language-wrapp .boxs-wrapp .boxs .textarea{ height:90px; width:98% !important; padding:5px; background-color:#FFF !important; resize:none; }
.language-wrapp .boxs-wrapp .delete{ 
	background-color:rgba(0,0,0,0.8);  
	position:absolute;
	text-align:center; 
	line-height:20px;
	cursor:pointer;  
	height:20px; 
	color:#FFF; 
	right:-1px; 
	width:20px; 
	top:-1px;}
.language-wrapp .button-wrapp{ margin:10px 5px; }
.language-wrapp .button-wrapp .add-new{ padding:7px 10px; float:right; background-color:#F5f5f5; border:1px solid #DDD; cursor:pointer; }

input.readonly{
	background: none!important;
	background-color: #bbbbbb!important;
}

.status p{
	padding: 5px 10px;
	width: 80px;
	text-align: center;
}

.status p.publish{
	background-color: #c3e6cb;
}

.status p.unpublish{
	background-color: #f5c6cb;
}

.brief .additional_data{
	margin-bottom: 0px!important;
}

.lang_cat_tag .tags_cat_content{
	height: auto!important;
}

.lang_cat_tag .tags_cat_val{
	height: 205px;
}

.custom_field_lang .additional_data{
	margin-bottom: 0px!important;
}


/* BUTTON TAB LANGUAGE CONFIG */
.button-language,
.button-language-menu{
	width: 100%;
	padding: 0 20px;
}

.button-language-menu{
	padding-left: 0px;
	padding-right: 0px;
}

.button-language ul,
.button-language-menu ul{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #ccc;
}
.button-language ul::before,
.button-language-menu ul::before{
	display: table;
    content: " ";
}
.button-language ul::after,
.button-language-menu ul::after{
	display: table;
    content: " ";
}
.button-language ul li,
.button-language-menu ul li{
	list-style-type: none;
	float: left;
	position: relative;
	display: block;
	margin-bottom: -1px;
}
.button-language ul li::after,
.button-language-menu ul li::after{
	clear: both;
}
.button-language ul li a.btn,
.button-language-menu ul li a.btn{
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #FFF;
	border: 1px solid transparent;
	border-bottom: transparent;
	padding: 10px 10px 10px 35px;
	text-decoration: none;
	display: block;
	margin-right: 2px;
}
.button-language ul li a.btn:hover,
.button-language-menu ul li a.btn:hover{
	background-color: #eee;
}

.button-language ul li.active a.btn,
.button-language-menu ul li.active a.btn,
.button-language ul li.active a.btn:hover,
.button-language-menu ul li.active a.btn:hover{
	border: 1px solid #ccc;
	border-bottom-color: transparent;
	background-color: #FFF;
}

.button-language .btn,
.button-language-menu .btn{
	background-size: 20px;
	background-position: 10px center;
	background-repeat: no-repeat
}

.restaurant .boxs-wrapp .boxs{
	padding: 0px!important;
}

.restaurant .boxs-wrapp .boxs.list-box,
.restaurant .boxs-wrapp .boxs.category-box{
	border: 1px solid #ccc!important;
	border-top: none!important;
	padding-left: 15px!important;
	padding-right: 15px!important;
	padding-bottom: 15px!important;
	padding-top: 5px!important;
	margin-bottom: 15px;
}
.restaurant .boxs-wrapp .boxs.category-box{
	padding-top: 15px!important;
}
.content-lang-menu{
	display: none;
}
.content-lang-menu.active{
	display: block;
}

.inner-menu-lang{
	padding-left: 0px!important;
}

.content-lang-menu .mce-panel{
	margin-top: 20px;
}