<!-- BEGIN setting_form -->

<h1>{app_title}</h1>
<ul class="tabs">
	{tab}
</ul>

<div class="tab_container apps-setting-wrapp">

	<form method="post" action="#" enctype="multipart/form-data">
		<div class="button_wrapper clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
		            <li>{button}</li>
		        </ul>
		    </div>
		</div>

		{language_button}

		<div class="content-lang EN active">
			<div class="list_edit">
				
				{message}

				<fieldset>
					<!-- BEGIN setting_form_destination -->
					<div class="additional_data sett">
						<h2>{dest_title}</h2>
						<div class="additional_content">
							<div class="sett-box">
								<fieldset>
									<p>Title</p>
									<input type="text" name="title{array_name}" class="textbox" autocomplete="off" value="{title}" />
								</fieldset>
								<fieldset>
									<p>Sub Title</p>
									<input type="text" name="subtitle{array_name}" class="textbox" autocomplete="off" value="{subtitle}" />
								</fieldset>
								<fieldset>
									<p>Description</p>
									<textarea class="textarea tinymce" name="description{array_name}" autocomplete="off">{description}</textarea>
								</fieldset>
								<fieldset>
									<p>Brief</p>
									<textarea class="textarea tinymce" name="brief{array_name}" autocomplete="off">{brief}</textarea>
								</fieldset>
							

								{content_add}
								
								<fieldset>
									<p>Background Image</p>
									<p><em>Select image file from your computer:</em></p>
									<span class="bg-block">
										<img class="bg-img{class_dest_id}" src="{bg_image}" alt="" width="300" />
										<a class="delete-bg delete-bg{class_dest_id}">
											<img src="{HTTP}{site_url}/lumonata-plugins/custom-post/images/delete.png" />
										</a>
										<input type="hidden" name="bg_image_current{array_name)" value="{bg_image}" />
									</span>
									<p class="red"><i>Recommended Size: 1920px * 1080px</i></p>
									<div class="upload-btn">
										<input type="file" class="bg-upload{class_dest_id}" name="bg_image{array_name}" data-id="{dest_id}" autocomplete="off" />
									</div>
								</fieldset>
								<!-- <fieldset>
									{galery_image_setting}
								</fieldset> -->
								<fieldset>
									<p>Meta Data Title</p>
									<input type="text" name="meta_title{array_name}" class="textbox" autocomplete="off" value="{meta_title}" />
								</fieldset>
								<fieldset>
									<p>Meta Data Description</p>
									<textarea class="textarea" name="meta_description{array_name}" autocomplete="off">{meta_description}</textarea>
								</fieldset>
								<fieldset>
									<p>Meta Data Keywords</p>
									<input type="text" name="meta_keywords{array_name}" class="textbox"  autocomplete="off" value="{meta_keywords}" />
								</fieldset>
							</div>
						</div>
					</div>

					<script type="text/javascript"> 
						jQuery(function(){
							jQuery('.bg-upload{class_dest_id}').change(function(e){
								if( this.files && this.files[0] )
								{
									var reader = new FileReader();
			
									reader.onload = function (e)
									{
										jQuery('.bg-img{class_dest_id}').attr('src', e.target.result);
									}
			
									reader.readAsDataURL(this.files[0]);
								}
							});
			
							jQuery('.delete-bg{class_dest_id}').click(function(e){
								var url = '{HTTP}{site_url}/post-ajax';
								var prm = new Object;
									prm.ajax_key = 'delete-bg-image';
									prm.app_name = '{app_name}';
									prm.dest_id = '{dest_id}'

									// console.log(prm.dest_id);
									
								jQuery.post(url, prm, function(e){
									// console.log(e);
									if(e.result=='success'){
										var ele = jQuery('.bg-upload{class_dest_id}');
										ele.wrap('<form>').closest('form').get(0).reset();
										ele.unwrap();
			
										jQuery('[name=bg_image{array_name}]').val('');
										jQuery('.bg-img{class_dest_id}').attr('src', '');
									}else{
										alert('Can\'t deleted background image');
									}
								},'json');
							});
						});
					</script>
					<!-- END setting_form_destination -->
				</fieldset>

			</div>
		</div>

		{language_data}

		<div class="button_wrapper bottom clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
		            <li>{button}</li>
		        </ul>
		    </div>
		</div>

		

	</form>
</div>

<!-- END setting_form -->