.slideshow-tab-container .article_title.small{ width:50%; }
.slideshow-tab-container .list_author{ width:25%; }
.slideshow-tab-container .list_date{ width:25%; text-align:left; }
.slideshow-tab-container .list_date span{ float:left; }

.slideshow-form .alert-wrapper{ margin:20px 0 0; }
.slideshow-form .exist-img{border:1px solid #ccc; padding:1px; margin:4px;}
.slideshow-form .exist-img.selected{border:1px solid #EF451E;}
.slideshow-form .a-ei{display:inline-block; position: relative;}
.slideshow-form .a-ei input[type=radio]{position: absolute; cursor:pointer; left:0; top:0; z-index:1; width:50px; height:50px; opacity:0;}
.slideshow-form .box-exist-img{position: relative; width: 60px;}
.slideshow-form .img_300{position: absolute; left: 0px; bottom: 56px; display: none;}
.slideshow-form .error-mess{padding:5px; background-color: #E8AEB6; border: 1px solid #FF0000; color: #990000; float:left;}
.slideshow-form .header-wrapp{padding:10px; border:1px solid #ddd; background:#F0F0EE; margin-bottom:15px;}
.slideshow-form .header-wrapp .box{float:left; position:relative; padding:5px; border:1px solid #ddd; background:#fff; }
.slideshow-form .h-list{ position:relative; float:left; margin-right:5px; background:#fff; padding:2px; border:1px solid #ddd; }
.slideshow-form .h-list input[type=checkbox]{ position:absolute; height:70px; margin:0; width:70px; opacity:0; }
.slideshow-form .h-list span{ display:none; position:absolute; height:70px; margin:0; width:70px; background:rgba(0,0,0,0.8);}
.slideshow-form .h-list.checked span{ display:block; }
.slideshow-form .h-list.checked span img{position:absolute; top:24px; left:24px;}
.slideshow-form .list_edit fieldset{ border-bottom:1px solid #e1e1e1; }

.slideshow-form .list-box{ float:left; margin:5px; }
.slideshow-form .list-box .overlay{ cursor:pointer; display:none; position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:rgba(0,0,0,0.5); }
.slideshow-form .list-box .overlay a{ position:absolute; top:45px; left:45px; cursor:pointer; }
.slideshow-form .list-box .overlay a.delete-header{ left:90px; }
.slideshow-form .list-box .detail{ display:none; background:#FFFFFF; border:1px solid #DDDDDD; margin-left:170px; }
.slideshow-form .textbox.textarea{height:auto !important; resize:none;}
.slideshow-form .combo-opt{ min-width:320px; }

.slideshow-form .dropzone.dz-drag-hover{ background-color:#E8AEB6; border-style:none; }
.slideshow-form .dropzone{ border:none; background-color:#f5f5f5; padding:5px; }
.slideshow-form .dropzone .dz-preview{ border:1px solid #DDDDDD; margin:5px; }
.slideshow-form .dropzone .dz-preview .dz-image{ float:left; border-radius:0; margin:5px; }
.slideshow-form .dropzone .dz-preview .dz-image img{ width:100%; }
.slideshow-form .dropzone .dz-detail-box{ float:left; }
.slideshow-form .dropzone .dz-preview .dz-details{ width:130px; min-width:130px; height:130px; }
.slideshow-form .dropzone .dz-preview .dz-detail-box{ display:none; }
.slideshow-form .dropzone .dz-preview.opened{ width:100%; }
.slideshow-form .dropzone .dz-preview.opened .dz-detail-box{ display:block; }
.slideshow-form .dropzone .dz-preview .dz-detail-box fieldset{ border:none; }
.slideshow-form .dropzone .dz-preview .dz-edit,
.slideshow-form .dropzone .dz-preview .dz-delete{ margin:25px 5px; display:inline-block; cursor:pointer; }
.slideshow-form .dropzone .dz-preview.dz-file-preview .dz-image{ -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
.slideshow-form .dropzone .dz-preview.ui-sortable-placeholder{ background-color:#E8AEB6; visibility:visible !important; height:130px; }

.slideshow-form .note{ margin:10px 0; color:red; }

.slideshow-list .search_box{ float:right; }
.slideshow-list .search_loader{ float:right; margin:10px; display:none; }
.slideshow-list .popup-action{ text-align:right; margin:10px 5px 0 0; }