.lumonata_menu ul li.locations{
	background-position:left center;
	background-repeat:no-repeat;
	background-image:url(../../lumonata-plugins/locations/images/ico-loc.png);}

.form-title{ margin:18px 0 17px; }
.hidden-element{ display:none; }
.clearfixed:before, .clearfixed:after{ content:""; display:table; }
.clearfixed:after{ clear:both; }

.locations-wrapp .message{ display:block; padding:10px; margin:0 20px 5px; }
.locations-wrapp .message p{ margin:0; line-height:1.38; }
.locations-wrapp .error{ background-color:#FFBABA; border:1px solid #D8000C; color:#D8000C; }
.locations-wrapp .success{ background-color:#DFF2BF; border:1px solid #4F8A10; color:#4F8A10; }

.locations-wrapp .search_box{ float:right; margin-top:10px !important; }
.locations-wrapp .search-loader{ float:right; margin:10px; display:none; }
.locations-wrapp .search_box .searchtext{ padding:0 10px; }
.locations-wrapp .boxs{ -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.locations-wrapp .boxs label{ display:block; padding:9px 0; }
.locations-wrapp .boxs.title label{ padding-left:30px; }
.locations-wrapp .title{ width:50%; }
.locations-wrapp .destination{ width:25%; padding-right:10px; }
.locations-wrapp .type{ width:25%; padding-right:10px; }
.locations-wrapp .type img{ float:left; width:16px; margin-right:10px; }
.locations-wrapp .push-left{ float:left; }
.locations-wrapp .half{ width:50%; }
.locations-wrapp .half:first-child{ width:50%; padding-right:10px; }
.locations-wrapp .half:last-child{ width:50%; padding-left:10px; }
.locations-wrapp .title_checkbox{ margin:10px 10px; vertical-align:top; left:20px; }
.locations-wrapp .list_navigation{ display:none; }
.locations-wrapp .list_item:hover .list_navigation{ display:block; }
.locations-wrapp .the_navigation_list{ margin-left:32px; }
.locations-wrapp .the_navigation_list .list_navigation{ margin-left:0; }
.locations-wrapp .delete-confirmation-wrapper{ display:none; }
.locations-wrapp .button-box{ text-align:right; margin:10px 0 0 0; }
.locations-wrapp .delete-confirmation-wrapper .button-box button{ padding:0 10px; }
.locations-wrapp .delete-confirmation-wrapper .popup_block .popup{ padding:0; }
.locations-wrapp .delete-confirmation-wrapper .alert_yellow{ width:auto; padding:20px; }

.locations-wrapp .button_wrapper.dest{ margin-top:10px !important; }
.locations-wrapp .button_navigation{ padding:0 !important; width:auto !important; }
.locations-wrapp .list_title{ padding:0 !important; height:35px !important; width:auto !important; margin-bottom:0 !important; }
.locations-wrapp .list_title input{ margin-left:10px !important; }
.locations-wrapp .list_item{ padding:0 !important; margin:5px 0 !important; }
.locations-wrapp .alert_red_form{ padding:20px !important; width:98% !important; margin:10px auto !important; }
.locations-wrapp .alert_red_form ol{ padding:0 15px; margin-bottom:0; }
.locations-wrapp .alert_red_form ol li{ padding:2px 0; }
.locations-wrapp .alert-button-box{ width:98%; margin:10px auto; text-align:right; }
.locations-wrapp .alert-button-box .button{ padding:0 10px !important; }

.locations-wrapp .map{ height:400px; width:100%; }
.locations-wrapp .corporate-box{ padding:0 0 20px; }
.locations-wrapp .corporate-box select{ margin:0; }
.locations-wrapp .textbox{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
		box-sizing:border-box;
			padding:7px !important;
			height:auto !important;
			width:100% !important;}
/* .locations-wrapp select{
	-webkit-appearance:none;
	-moz-appearance:none;
		appearance:none;} */

.list-type-box-wrapp{ margin:0; padding:0; }
.list-type-box-wrapp li{
	padding:7px 0 0;
	background-color:#f5f5f5;
	border:1px solid #BBBBBB;
	margin-bottom:5px;
	margin-right:5px;
	list-style:none;
	height:33px;
	float:left;}
.list-type-box-wrapp li .lbox{ padding:0 10px 7px 20px; position:relative; }
.list-type-box-wrapp li input{ position:absolute; margin:0; left:10px; top:1px; }
.list-type-box-wrapp li label{ float:left; padding:0 10px !important; }
.list-type-box-wrapp li img{ float:left; width:16px; }


.post-himage-block, .post-mimage-block, .seminyak-image-block, .legian-image-block, .airport-image-block, .fhome-image-block, .fhome-image-special-offers-block {
  position: relative;
}

 .locations-image-block .overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: none;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

 .locations-image-block .overlay img {
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  height: 31px;
  width: 31px;
  left: 50%;
  top: 50%;
}

.locations-image-wrapp {
  margin-bottom: 20px;
  background: #F0F0EE;
  padding: 5px;
  min-height: 80px;
  height: auto;
  width: 165px;
}

.locations-image-wrapp .box  {
  float: left;
  margin: 5px;
  padding: 2px;
  border: 1px solid #ddd;
  background: #FFFFFF;
  width: 150px;
  position: relative;
  text-align: center;
}

.locations-image-wrapp img  {
  width: auto;
  max-width: 100%;
}

.locations-image-wrapp .ioverlay {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.locations-image-wrapp .ioverlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin-left: -12px;
  margin-top: -12px;
}

.locations-image-wrapp .box:hover .ioverlay  {
  display: block;
}


.locations-wrapp .additional_data{
  padding: 0 20px;
}