<!-- BEGIN form_block -->

<h1>{title_form}</h1>

<div class="tab_container">
    <div class="single_content">
        
        <form class="slideshow-form" method="post" enctype="multipart/form-data" >
            
            <div class="alert-wrapper">
                {message}
            </div>
            
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
            </div>
           
            <div class="list_edit">            
               	<fieldset class="hidden">
                    <input type="text" name="ajax_url" value="{ajax_url}">
                    <input type="text" name="post_id" value="{post_id}" />
                </fieldset>

                <fieldset>
                    <p>Slideshow Title</p>
                    <input type="text" class="textbox" name="post_title" value="{post_title}" />
                </fieldset>

                <fieldset>
                    <p>Show Slideshow On Post</p>
                    <select name="additional_fields[show_on]" autocomplete="off">
                        <option value="">Select Post</option>
                        {post_list}
                    </select>
                </fieldset>

                <fieldset>
                    <div class="additional_data">
                        <h2 id="thumb_slideshow_list">Image List</h2>
                        <div id="detail_thumb_slideshow_list" class="additional_content">
                            <div id="block_slideshow" class="block_slideshow">
                                <div id="dropzone">
                                    <div class="dropzone needsclick dz-clickable" id="slide-upload">
                                        <div class="dz-message needsclick">
                                            Drop files here or click to upload.<br>
                                            <span class="note needsclick">( maximum size for upload image is 2MB )</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="preview-template" class="dz-preview dz-file-preview" style="display:none;">
                                    <div class="dz-preview dz-file-preview">
                                        <div class="dz-image"><img data-dz-thumbnail data-dz-thumbnail-id/></div>
                                        <div class="dz-details">
                                            <a class="dz-edit">
                                                <img src="{site_url}/lumonata-plugins/slideshow/images/edit.png" />
                                            </a>
                                            <a class="dz-delete">
                                                <img src="{site_url}/lumonata-plugins/slideshow/images/delete.png" />
                                            </a>
                                        </div>
                                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                                        <div class="dz-detail-box">
                                            <div class="detail">
                                                <fieldset>
                                                    <p>Title</p>                
                                                    <input type="text" name="title" value="" class="textbox" />
                                                </fieldset>
                                                
                                                <fieldset>
                                                    <p>Sub title</p>                
                                                    <input type="text" name="subtitle" value="" class="textbox" />
                                                </fieldset>

                                                <fieldset>
                                                    <p>Add Link Button</p>
                                                    <select class="use-link-opt" name="use_link" id="" style="width:150px;">
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>
                                                    </select>
                                                </fieldset>
                                                
                                                <fieldset class="link-box">
                                                    <p>Select your post or make custom link</p>
                                                    <select name="post_link_id" id="" style="width:100%;" disabled="disabled">
                                                        <option value="0" data-link="#">Custom Link</option>
                                                        {post_on_slide}
                                                    </select>
                                                </fieldset>
                                                
                                                <fieldset class="link-box">
                                                    <p>URL</p>
                                                    <input type="text" name="url" value="" class="textbox" id="" disabled="disabled"/>
                                                </fieldset>
                                                
                                                <fieldset class="button-box">
                                                    <p>Button Text</p>
                                                    <input type="text" name="button_text" value="" class="textbox" id="" disabled="disabled"/>
                                                </fieldset>
                                                
                                                <fieldset class="forclone" rel="textarea">
                                                    <p>Description</p>
                                                    <textarea name="description" class="textbox textarea" row="5"></textarea>
                                                </fieldset>
                                                
                                                <fieldset>
                                                    <input type="button" class="save-detail" value="Save"/>
                                                    <input type="button" class="close-detail" value="Close"/>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="note">Recommended resolution for sideshow image is <b>1920px * 800px</b>, with maximum upload size <b>2MB</b></p>
                        </div>
                    </div>
                </fieldset>
            </div>
            
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
            </div>
           
        </form>
    </div>
</div>

<!-- END form_block -->
