<!-- BEGIN settings_form -->
<link type="text/css" href="{HTTP}{plugin_url}/style.css{version}" rel="stylesheet">

<div class="static-setting">
    <h1>Global Setting</h1>
    <ul class="tabs">
        {admin_tab}
    </ul>
    <div class="tab_container">
        <div class="single_content">
            {alert}
            
            <form method="post" action="#" enctype="multipart/form-data">

                <fieldset>
                	<h2>Contact Information</h2> 
                    <p>Company name</p>
                    <input class="textbox" type="text" name="company" value="{company}" />
                    <p>Address</p>
                    <input class="textbox" type="text" name="address" value="{address}" />  
                    <p>Phone number</p>
                    <input class="textbox" type="text" name="phone_number" value="{phone_number}" />
                    <p>Fax number</p>
                    <input class="textbox" type="text" name="fax_number" value="{fax_number}" />
                    <p>Email address</p>
                    <input class="textbox" type="text" name="email_address" value="{email_address}" />
                </fieldset> 

                <fieldset>
                	<h2>SMTP Setting</h2> 
                    <p>SMTP Server</p>
                    <input class="textbox" type="text" name="smtp" value="{smtp_server}" />
                    <p>Port</p>
                    <input class="textbox" type="text" name="smtp_email_port" value="{smtp_email_port}" />
                    <p>SMTP Email address</p>
                    <input class="textbox" type="text" name="smtp_email_address" value="{smtp_email_address}" />
                    <p>SMTP Email password</p>
                    <input class="textbox" type="password" name="smtp_email_pwd" value="{smtp_email_pwd}" />
                </fieldset> 

                <fieldset>
                    <h2>Google Recapcha Setting</h2> 
                    <p>Recaptcha Public Key</p>
                    <input class="textbox" type="text" name="r_public_key" value="{r_public_key}" />
                    <p>Recaptcha Secret Key</p>
                    <input class="textbox" type="text" name="r_secret_key" value="{r_secret_key}" />
                    <!-- <p>Snipset</p>
                    <textarea class="textarea small" name="snipset">
                        {snipset}
                    </textarea> -->
                </fieldset> 

                <!-- <fieldset>
                    <h2>Newsletter Mailchimp Setting</h2> 
                    <p>API Key</p>
                    <input class="textbox" type="text" name="mail_chimp_api_key" value="{mail_chimp_api_key}" />
                    <p>List ID</p>
                    <input class="textbox" type="text" name="mail_chimp_list_id" value="{mail_chimp_list_id}" />
                </fieldset> -->

                <fieldset>
                    <h2>Google Map Setting</h2> 
                    <p>Google Map API Key</p>
                    <input class="textbox" type="text" name="map_api_key" value="{map_api_key}" />
                    <!-- <p>Google Map Location</p>
                    <input class="textbox" type="text" name="longlat" value="{longlat}" />
                    <p>Google Map Short Link</p>
                    <input class="textbox" type="text" name="short_link" value="{short_link}" /> -->
                </fieldset> 

                <!-- <fieldset>
                    <h2>Instagram Feed Setting</h2>  -->
                    <!-- <p>Instagram Client ID</p>
                    <input class="textbox" type="text" name="ig_client_id" value="{ig_client_id}" />
                    <p>Instagram Client Secret</p>
                    <input class="textbox" type="text" name="ig_client_secret" value="{ig_client_secret}" /> -->
                    <!-- <p>Instagram Token</p>
                    <input class="textbox" type="text" name="ig_token" value="{ig_token}" />
                </fieldset> -->

                <fieldset>
                    <h2>Google Tag Manager {head_html}</h2> 
                    <textarea class="textarea setting" name="google_tag_manager">
                        {google_tag_manager}
                    </textarea>
                </fieldset>

                <fieldset>
                    <h2>Google Tag Manager {body_html}</h2> 
                    <textarea class="textarea setting" name="google_tag_manager_noscript">
                        {google_tag_manager_noscript}
                    </textarea>
                </fieldset>



                <fieldset>
                    <h2>GTM - seminyak</h2> 
                    <textarea class="textarea setting" name="google_analytics">
                        {google_analytics}
                    </textarea>
                </fieldset>

                <fieldset>
                    <h2>GTM - ubud</h2> 
                    <textarea class="textarea setting" name="google_adwords">
                        {google_adwords}
                    </textarea>
                </fieldset>

                <fieldset>
                    <h2>Facebook Pixel</h2> 
                    <textarea class="textarea setting" name="facebook_pixel">
                        {facebook_pixel}
                    </textarea>
                </fieldset>

                <fieldset>
                    <h2>Disqus</h2> 
                    <p>Universal Code</p>
                    <textarea class="textarea setting" name="disqus_script">
                        {disqus_script}
                    </textarea>
                    
                    <p>Get Comment Count Code</p>
                    <textarea class="textarea setting" name="disqus_count_code">
                        {disqus_count_code}
                    </textarea>
                </fieldset>
                 

                <div class="button_wrapper clearfix">
                    <ul class="button_navigation">
                    	<li>{save_changes_botton}</li>
                    </ul>
                </div>
                
            </form>
        </div>
    </div>

    <style>
        .static-setting fieldset{ position:relative; }
        .static-setting fieldset .half{ width:50%; float:left; }
        .static-setting fieldset .half input{ width:95%; }
        .static-setting fieldset i{ margin-bottom:5px; display:block; }
        .static-setting fieldset p{ margin:15px 0 5px; }
        .static-setting .tabs{ border-bottom:none; }
    </style>
</div>

<!-- END settings_form -->