<!-- BEGIN language_destination_form_loop -->
<div class="content-lang {code_lang}">

        <div class="list_edit">
            <fieldset>
                <p>Title ({title_lang})</p>
                <p><input type="text" class="textbox forclone" name="title_lang[title_{code_lang_lower}]" value="{title_destination}" rel="input" data-name="lname" autocomplete="off" /></p>
            </fieldset>
    
            <fieldset>
                <p>Title Home Page ({title_lang})</p>
                <p><input type="text" class="textbox forclone" name="title_home_page_lang[title_home_page_{code_lang_lower}]" value="{title_home_page_lang}" rel="input" data-name="lname" autocomplete="off" /></p>
            </fieldset>
    
            <fieldset>
                <p>Sub Title Home Page ({title_lang})</p>
                <p><input type="text" class="textbox forclone" name="subtitle_home_page_lang[subtitle_home_page_{code_lang_lower}]" value="{subtitle_home_page_lang}" rel="input" data-name="lname" autocomplete="off" /></p>
            </fieldset>
    
            <fieldset>
                <p>Description ({title_lang})</p>
                {post_content_lang}
            </fieldset>
    
            <fieldset>
                <p>Brief Landing Page ({title_lang})</p>
                {brief_lang}
            </fieldset>
    
            <fieldset>
                <div class="additional_data">
                    <h2>Dinner Reception Venue 1 ({title_lang})</h2>
                    <div class="additional_content">
                        <div class="info-list">
                            <p>Title ({title_lang})</p>
                            <input type="text" class="textbox" name="title_reception_venue_1_lang[title_reception_venue_1_{code_lang_lower}]" value="{title_reception_venue_1_lang}" />
                        </div>
                    </div>
                </div>
            </fieldset>
    
            <fieldset>
                <div class="additional_data">
                    <h2>Dinner Reception Venue 2 ({title_lang})</h2>
                    <div class="additional_content">
                        <div class="info-list">
                            <p>Title ({title_lang})</p>
                            <input type="text" class="textbox" name="title_reception_venue_2_lang[title_reception_venue_2_{code_lang_lower}]" value="{title_reception_venue_2_lang}" />
                        </div>
                    </div>
                </div>
            </fieldset>
    
            <fieldset>
                <div class="additional_data">
                    <h2>Meta Data Setting</h2>
                    <div class="additional_content">
                        <div class="info-list">
                            <p>Meta Title</p>
                            <input type="text" class="textbox" name="meta_title_lang[meta_title_{code_lang_lower}]" value="{meta_title_lang}" />
                        </div>
                        <div class="info-list">
                            <p>Meta Keywords</p>
                            <input type="text" class="textbox" name="meta_keywords_lang[meta_keywords_{code_lang_lower}]" value="{meta_keywords_lang}" />
                        </div>
                        <div class="info-list">
                            <p>Meta Description</p>
                            <input type="text" class="textbox" name="meta_description_lang[meta_description_{code_lang_lower}]" value="{meta_description_lang}" />
                        </div>
                    </div>
                </div>
            </fieldset>
    
            <fieldset>
                <div class="additional_data">
                    <h2>Popup Newsletter Setting ({title_lang})</h2>
                    
                    <div class="additional_content">
                        <div class="info-list">
                            <p>URL ({title_lang})</p>
                            <input type="text" class="textbox" name="url_popup_newsletter_lang[url_popup_newsletter_{code_lang_lower}]" value="{url_popup_newsletter_lang}" />
                        </div>
                    </div>
                </div>
            </fieldset>
    
            <fieldset>
                <div class="additional_data">
                    <h2>Policy Page Setting ({title_lang})</h2>
                    
                    <div class="additional_content">
                        <div class="info-list">
                            <p>Title Policy ({title_lang})</p>
                            <input type="text" class="textbox" name="title_policy_lang[title_policy_{code_lang_lower}]" value="{title_policy_lang}" />
                        </div>
                        <div class="info-list">
                            <p>Sub Title Policy ({title_lang})</p>
                            <input type="text" class="textbox" name="sub_title_policy_lang[sub_title_policy_{code_lang_lower}]" value="{sub_title_policy_lang}" />
                        </div>
                        <div class="info-list">
                            <p>Description Policy ({title_lang})</p>
                            <textarea name="description_policy_lang[description_policy_{code_lang_lower}]" class="tinymce" cols="30" rows="10">{description_policy_lang}</textarea>
                        </div>
                        
                        <div class="info-list">
                            <p>Meta Title Policy ({title_lang})</p>
                            <input type="text" class="textbox" name="meta_title_policy_lang[meta_title_policy_{code_lang_lower}]" value="{meta_title_policy_lang}" />
                        </div>
                        <div class="info-list">
                            <p>Meta Keywords Policy ({title_lang})</p>
                            <input type="text" class="textbox" name="meta_keywords_policy_lang[meta_keywords_policy_{code_lang_lower}]" value="{meta_keywords_policy_lang}" />
                        </div>
                        <div class="info-list">
                            <p>Meta Description Policy ({title_lang})</p>
                            <textarea name="meta_description_policy_lang[meta_description_policy_{code_lang_lower}]" class="textbox" cols="30" rows="10">{meta_description_policy_lang}</textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    
    </div>
    <!-- END language_destination_form_loop -->