<!-- BEGIN language_menu_category_form_loop -->
<div class="content-lang-menu content-menu-{code_lang_lower_menu}">
    <label class="push-left with-margin">Add new menu category ({title_lang_menu}) : </label>
    <input data-lang="{code_lang_lower_menu}" id="new_category_lang_{code_lang_lower_menu}" type="text" name="new_category_lang[{code_lang_lower_menu}]" class="textbox push-left small category_lang_new" />
</div>
<!-- END language_menu_category_form_loop -->