<!-- BEGIN language_menu_list_form_loop -->
<div class="content-lang-menu content-menu-{code_lang_lower_menu}">
    <div class="inner inner-menu-lang">
        <label>Menu Name ({title_lang_menu}) : </label>
        <input type="text" data-lang="{code_lang_lower_menu}" name="menu_name_lang" id="menu_name_lang_{code_lang_lower_menu}" class="textbox menu_name_lang" />
        <label>Description ({title_lang_menu}) : </label>
        <textarea name="menu_des_lang" id="menu_des_lang_{code_lang_lower_menu}" data-lang="{code_lang_lower_menu}" class="textbox menu_des_lang"></textarea>

        <input type="hidden" name="code_lang_lower" class="code_lang_lower" value="{code_lang_lower_menu}">
    </div>
</div>
<!-- END language_menu_list_form_loop -->