<!-- BEGIN language_treatment_list_form_loop -->
<div class="content-lang-menu content-menu-{code_lang_lower_treatment}">
    <div class="inner inner-menu-lang">
        <label>Name ({title_lang_treatment}) : </label>
        <input type="text" data-lang="{code_lang_lower_treatment}" name="treatment_name_lang" id="treatment_name_lang_{code_lang_lower_treatment}" class="textbox treatment_name_lang" />
        <label>Description ({title_lang_treatment}) : </label>
        <textarea name="treatment_des_lang" id="treatment_des_lang_{code_lang_lower_treatment}" data-lang="{code_lang_lower_treatment}" class="textbox treatment_des_lang"></textarea>

        <input type="hidden" name="code_lang_lower" class="code_lang_lower" value="{code_lang_lower_treatment}">
    </div>
</div>
<!-- END language_treatment_list_form_loop -->