.restaurant .hidden{display:none;}
.restaurant .push-left{float:left;}
.restaurant .with-margin{margin-top:7px;}
.restaurant .small{width:500px !important;}
.restaurant .medium{width:70% !important;}
.restaurant .the-button{
	background:url(../../lumonata-admin/themes/default/images/panel_bg.jpg); 
	border:1px solid #BBBBBB; 
	text-align:center; 
	line-height:31px;
	margin-left:10px; 
	padding:0 10px; 
	font-size:12px;
	height:33px;
	width:110px;}
.restaurant .boxs-wrapp .boxs{ padding:5px; border:0; background:#FFFFFF; }

.restaurant .tab-treatment-setting{border-bottom:1px solid #BBBBBB; margin:10px 5px 0; padding:10px 0 0;}
.restaurant .tab-treatment-setting li{list-style:none; float:left; background:#F5F5F5; padding:10px; border:1px solid #BBBBBB; border-bottom:0; border-right:0; position:relative;}
.restaurant .tab-treatment-setting li.active{background:#FFFFFF;}
.restaurant .tab-treatment-setting li.active:after{content:''; position:absolute; height:1px; background:#FFFFFF; left:0; bottom:-1px; right:0;}
.restaurant .tab-treatment-setting li:last-child{border-right:1px solid #BBBBBB;}
.restaurant .tab-treatment-setting li:last-child.active:after{right:0;}
.restaurant .tab-treatment-setting li a{text-decoration:none;}

.restaurant .inner{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box; 
			padding-right:10px;
			width:50%;}
.restaurant .inner:last-child{padding-left:10px; padding-right:0;}
.restaurant .inner .textbox, .restaurant .inner .select{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;  
			min-width:150px !important;
			max-width:100% !important;
			height:30px !important;
			width:100% !important;}
.restaurant .inner .select{margin:0;}
.restaurant .inner .smaller{width:150px !important;}
.restaurant .inner .half{width:45% !important;}
.restaurant .inner textarea.textbox{height:160px !important;}
.restaurant .inner textarea.small{height:103px !important;}
.restaurant .inner label{padding:10px 0; display:block;}
.restaurant .note{padding:10px 5px;}
.restaurant .note b{display:block; margin-bottom:5px;}
.restaurant .the-button{float:right;}
.restaurant .cat-edit-treatment{display:none;}
.restaurant .cat-cancel-edit{display:none;}
.restaurant .add-subtreatment-to-list{float:left; margin-left:0;}
.restaurant .edit-subtreatment{float:left; margin-left:0; display:none;}
.restaurant .edit-treatment{display:none;}
.restaurant .cancel-edit{display:none;}
.restaurant .boxs-wrapp{padding-bottom:5px;}
.restaurant .treatment-box-wrapper{padding:20px 10px; margin:0 5px; border:1px solid #BBBBBB; border-top:0; display:none;}
.restaurant .treatment-box-wrapper .chosen-container-single .chosen-single{ 
	border:1px solid #bbbbbb;
	border-radius:0;
	background:#FFFFFF; 
	line-height:27px;
	box-shadow:none; 
	color:#000000;
	height:30px;}
.restaurant .treatment-box-wrapper .chosen-container .chosen-drop{
    border-color:-moz-use-text-color #bbbbbb #bbbbbb;
    border-right:1px solid #bbbbbb;
    border-style:none solid solid;
    border-width:0 1px 1px;
    background:#FFFFFF;
    box-shadow:none;}
.restaurant .treatment-box-wrapper .chosen-container-active .chosen-single{box-shadow:none;}
.restaurant .treatment-box-wrapper .chosen-container-active.chosen-with-drop .chosen-single{background:#FFFFFF; box-shadow:none; border-color:#bbbbbb;}
.restaurant .treatment-box-wrapper .chosen-container-active.chosen-with-drop .chosen-single div b{background-position:-18px 3px;}
.restaurant .treatment-box-wrapper .chosen-container .chosen-results li.highlighted{background-color:#333; background-image:none; color:#FFF;}
.restaurant .treatment-box-wrapper .chosen-container-single .chosen-search input[type="text"]{margin-bottom:3px;}
.restaurant .treatment-box-wrapper .chosen-container-single .chosen-single div b{background-position:1px 3px;}

.restaurant .treatment-box-wrapper .treatment-type-wrapp{ margin-bottom:5px; padding:0; margin-top:0; }
.restaurant .treatment-box-wrapper .treatment-type-wrapp li{ list-style:none; width:50%; float:left; margin:0 0 5px; }
.restaurant .treatment-box-wrapper .treatment-type-wrapp span{ margin-right:15px; vertical-align:middle; }
.restaurant .treatment-box-wrapper .treatment-type-wrapp input{ margin:0 5px 0 0; vertical-align:middle; }

.restaurant .treatment-value{display:none;}
.restaurant .treatment-list{margin:0 5px; padding-left:0; position:relative;}
.restaurant .treatment-list li{list-style:none;}
.restaurant .treatment-list li.placeholder{ background-color:#DDDDDD; height:35px; margin-top:5px; }
.restaurant .treatment-list .overlay{
	background:#FFFFFF;
	position:absolute;
	opacity:0.8;
	bottom:-1px;
	right:-1px;
	z-index:2;
	left:-1px;
	top:-1px;}
.restaurant .treatment-list .overlay img{ 
	position:absolute; 
	margin-left:-10px; 
	margin-top:-10px; 
	height:20px; 
	width:20px; 
	left:50%;
	top:50%;}
.restaurant .treatment-list .overlay.error{color:red; text-align:center; padding:10px;}

.restaurant .treatment-list .item{background:#F5F5F5; border:1px solid #BBBBBB; padding:10px; margin-top:5px; position:relative;}
.restaurant .treatment-list .item:last-child{margin-bottom:10px;}
.restaurant .treatment-list .item p{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;  
			margin-bottom:0; 
			float:left;}
.restaurant .treatment-list .item p.name{width:25%;}
.restaurant .treatment-list .item p.cat{width:20%;}
.restaurant .treatment-list .item p.type{width:10%;}
.restaurant .treatment-list .item p.desc{width:35%; padding:0 20px;}
.restaurant .treatment-list .item p.price{width:10%;}
.restaurant .treatment-list .item .delete,
.restaurant .treatment-list .item .edit{
	background-image:url(images/delete.png);
	background-color:rgba(0,0,0,0.7); 
	background-repeat:no-repeat;
	background-position:center;
	background-size:10px auto;
	text-align:center;  
	position:absolute;
	line-height:15px;
	cursor:pointer; 
	font-size:9px;
	color:#FFFFFF; 
	height:20px;
	right:-1px; 
	width:20px;
	top:-1px;}
.restaurant .treatment-list .item .edit{right:22px; background-image:url(images/edit.png);}

.restaurant .treatment-category-value{display:none;}
.restaurant .treatment-category-list{margin:0 5px; padding-left:0; position:relative;}
.restaurant .treatment-category-list li{list-style:none;}
.restaurant .treatment-category-list li.placeholder{ background-color:#DDDDDD; height:35px; margin-top:5px; }
.restaurant .treatment-category-list .overlay{
	background:#FFFFFF;
	position:absolute;
	opacity:0.8;
	bottom:-1px;
	right:-1px;
	z-index:2;
	left:-1px;
	top:-1px;}
.restaurant .treatment-category-list .overlay img{ 
	position:absolute; 
	margin-left:-10px; 
	margin-top:-10px; 
	height:20px; 
	width:20px; 
	left:50%;
	top:50%;}
.restaurant .treatment-category-list .overlay.error{color:red; text-align:center; padding:10px;}
.restaurant .treatment-category-list .item{background:#F5F5F5; border:1px solid #BBBBBB; padding:10px; margin-top:5px; position:relative;}
.restaurant .treatment-category-list .item p{margin-bottom:0;}
.restaurant .treatment-category-list .item .delete,
.restaurant .treatment-category-list .item .edit{
	background-image:url(images/delete.png);
	background-color:rgba(0,0,0,0.7); 
	background-repeat:no-repeat;
	background-position:center;
	background-size:10px auto;
	text-align:center;  
	position:absolute;
	line-height:15px;
	cursor:pointer; 
	font-size:9px;
	color:#FFFFFF; 
	height:20px;
	right:-1px; 
	width:20px;
	top:-1px;}
.restaurant .treatment-category-list .item .edit{right:22px; background-image:url(images/edit.png);}
.restaurant .with-tabs{text-indent: 25px;}
.restaurant .treatment-pdf-file,
.restaurant .treatment-pdf-link{ padding:10px 5px; }
.restaurant .category-box .the-button{ float:left; }
.restaurant .category-box .chosen-container-single{ width:100% !important; }

.restaurant .treatment-pdf-file span{
	width: 12px;
	height: 12px;
	display: inline-block;
	background-color: #BBBBBB;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
}

.restaurant .treatment-pdf-file span img{
	width: 8px;
	margin: 2px auto;
}

.boxs-wrapp .boxs label{
	padding-right: 30px;
	margin-top: 0px!important;
}


/* LANGUAGE FORM */
.box_category_lang{
	clear: both;
	margin-left: 165px;
	padding: 10px 0;
}
.box_category_lang label{
	width: 175px;
	float: left; 
}
.box_category_lang .small{
	width: 445px!important;
}

.category_desc{
	float: left;
	clear: both;
}

.hidden-hide{
	display: none!important;
}