<!-- BEGIN treatments_block -->

<link type="text/css" href="//{plugin_url}/style.css" rel="stylesheet">

<input type="hidden" name="action_type" value="{action_type}">

<div id="treatment-list" class="additional_data spa">
    <h2>Treatment List</h2>
    <div class="additional_content">
    	<div class="boxs-wrapp">
    		<ul id="tab-treatment-setting" class="tab-treatment-setting clearfix">
    			<li class=""><a href="#category-box">Category</a></li>
    			<li class="active"><a href="#list-box">Main</a></li>
			</ul>
			
			<div id="category-box" class="treatment-box-wrapper">

				{language_button_treatments}
				
		    	<div class="boxs clearfix category-box">
					<div class="content-lang-treatment content-treatment-en active">
						<label class="push-left with-margin">Add new treatment category : </label>
						<input type="text" name="new_category" class="textbox push-left small" />
						<label class="category-desc">Description : </label>
						<textarea name="category_desc" class="textbox"></textarea>	
					</div>

					{treatment_category_language_data}
					
				</div>
				
				<div class="boxs clearfix boxs-button">
					<button class="the-button cat-add-to-list">Add To List</button>
					<button class="the-button cat-edit-treatment">Save Edited</button>
					<button class="the-button cat-cancel-edit">Cancel</button>
				</div>

				<ol class="treatment-category-list clearfix sortable"></ol>
				
		    </div>

			<div id="list-box" class="treatment-box-wrapper" style="display:block;">
				
				{language_button_treatments}

    			<div class="boxs clearfix list-box">

					<div class="content-lang-treatment content-treatment-en active">
						<div class="inner push-left">
							<label>Name : </label>
							<input type="text" name="treatment_name" class="textbox" />
							<label>Category treatment : </label>
							<select name="treatment_category" class="select">
								<option value="">-- Select Category --</option>
							</select>
							<!-- <label>Duration : </label>
							<input type="text" name="treatment_duration" class="textbox smaller" /> -->
                            <label>Price : </label>
                            <input type="text" name="treatment_price" class="textbox smaller" />
                            <em>&nbsp;&nbsp;input treatment price without currency</em>
						</div>
						<div class="inner push-left">
                            <!-- <label>Description : </label>
                            <textarea name="treatment_desc" id="treatment_desc" class="textbox tinymce"></textarea> -->
						</div>
					</div>

					{treatment_list_language_data}
		    		
		    	</div>
		    	<div class="boxs clearfix">
			    	<button class="the-button add-treatment-to-list">Add To List</button>
			    	<button class="the-button cancel-edit">Cancel</button>
					<button class="the-button edit-treatment">Save Edited</button>
		    	</div>
		    	<ol class="treatment-list clearfix sortable"></ol>
	    		<div class="note">
	    			<p><em><b>Important Note : </b>remember to publish after you added, edited or deleted the treatment</em></p>
	    		</div>
		    </div>
    	</div>
    </div>
</div>

<script type="text/javascript">
	function refresh_category_treatment()
	{	
		var prm = new Object;
			prm.post_id  	= jQuery('[name=post_id[0]]').val();
			prm.ajax_key 	= 'get-category-treatment';
			prm.app_name 	= '{app_name}';
			prm.lang_code 	= get_code_lang();


        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function(e){
            	jQuery('.treatment-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
            },
            success: function( e ){
		        jQuery('.treatment-category-list .overlay').remove();
				if( e.result == 'success' )
				{					
					jQuery('.treatment-category-list').html('');

					jQuery.each( e.data, function( i, el ){
						var html_lang = '';
						jQuery.each( el.lang_cat, function( k, lc ){
							if(typeof lc.value != 'undefined'){
								html_lang += '<input type="hidden" name="'+k+'" value="'+lc.value+'" />';
							}
						});

						var list = 
						'<li id="list_' + el.id + '">'+
							'<div class="item item-' + el.id + '">'+
								'<p>' + el.name + '</p>'+
								'<a class="edit" rel="' + el.id + '"></a>'+
								'<a class="delete" rel="' + el.id + '"></a>'+
								html_lang +
							'</div>';
							

							if( typeof el.child != 'undefined' )
							{
								list += 
								'<ol>';

									jQuery.each( el.child, function( ii, ele ){
										var html_lang_child = '';
										jQuery.each( ele.lang_cat, function( kc, lcc ){
											if(typeof lcc.value != 'undefined'){
												html_lang_child += '<input type="hidden" name="'+kc+'" value="'+lcc.value+'" />';
											}
										});

										list += 
										'<li id="list_' + ele.id + '">'+
											'<div class="item item-' + ele.id + '">'+
												'<p>' + ele.name + '</p>'+
												'<a class="edit" rel="' + ele.id + '"></a>'+
												'<a class="delete" rel="' + ele.id + '"></a>'+
												html_lang_child +
											'</div>'+
										'</li>';
									});

									list += 
								'</ol>';
							}

							list += 
						'</li>';

						jQuery('.treatment-category-list').append( list );
					});

					reorder_category_treatment();
					set_category_treatment_option();
					category_treatment_link_action();
				}
            },
            error: function( e ){
		        jQuery('.treatment-category-list .overlay').remove();
            }
        });
	}

	function set_category_treatment_option()
	{	
		var prm = new Object;
			prm.post_id  = jQuery('[name=post_id[0]]').val();
			prm.ajax_key = 'get-category-treatment-option';
			prm.app_name = '{app_name}';

        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function(e){
            },
            success: function( e ){
				if( e.result == 'success' )
				{
					jQuery('[name=treatment_category] option[value!=""]').remove();
					jQuery('[name=treatment_category]').append(e.data).trigger('chosen:updated');
				}
            },
            error: function( e ){
            }
        });
	}

	function category_treatment_link_action()
	{
		jQuery('.treatment-category-list .item .edit').unbind();
		jQuery('.treatment-category-list .item .edit').click( function(){
			var id     		= jQuery(this).attr('rel');
			var sel    		= jQuery(this).parent();
			var name   		= sel.find('p').text();
			var lang_code 	= get_code_lang();
			var split_code 	= lang_code.split(",");

			for(var j=0; j<split_code.length; j++){
				var value_lang = sel.find('input[name=category_name_'+split_code[j]+']').val();
				jQuery('#new_category_lang_'+split_code[j]).val(value_lang);
			}

			jQuery('[name=new_category]').val(name);

			jQuery('.cat-add-to-list').hide();
			jQuery('.cat-cancel-edit').show();
			jQuery('.cat-edit-treatment').attr('data-id', id).show();

			jQuery('html, body').stop().animate({
				scrollTop: jQuery('#treatment-list').offset().top
			}, 1000);
		});

		jQuery('.treatment-category-list .item .delete').unbind();
		jQuery('.treatment-category-list .item .delete').click( function(){
			var url = '//{ajax_url}';
			var prm = new Object;
				prm.cat_id   = jQuery(this).attr('rel');
				prm.ajax_key = 'delete-category-treatment';
				prm.app_name = '{app_name}';

	        jQuery.ajax({
	            url        : '//{ajax_url}',
	            type       : 'POST',
	            dataType   : 'json',
	            data       : prm,
	            beforeSend : function(e){
            		jQuery('.treatment-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
	            },
	            success: function( e ){
		            jQuery('.treatment-category-list .overlay').remove();

	            	if( e.result == 'success' )
	            	{
	            		refresh_category_treatment();
	            	}
	            	else
	            	{
	            		alert('This category can\'t be deleted, because already used in another treatment');
	            	}
	            },
	            error: function( e ){
		           jQuery('.treatment-category-list .overlay').remove();
	            }
	        });
		});
	}

	function reorder_category_treatment()
	{
		jQuery('.treatment-category-list').nestedSortable({
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 2,
			opacity: .6,
			revert: 250,
			tabSize: 25,
			placeholder: 'placeholder',
			tolerance: 'pointer',
			stop: function(eve, ui){
				var url  = '//{ajax_url}';
				var prm  = new Object;
					prm.list_arr = jQuery('.treatment-category-list').nestedSortable('toHierarchy', { startDepthCount: 0 });
					prm.ajax_key = 'reorder-category-treatment';
					prm.app_name = '{app_name}';

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
	            		jQuery('.treatment-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
			            jQuery('.treatment-category-list .overlay').remove();
		            },
		            error: function( e ){
			           jQuery('.treatment-category-list .overlay').remove();
		            }
		        });
			}
		});	
	}

	function clear_category_treatment_form()
	{
		jQuery('[name=new_category]').val('');
		jQuery('.category_lang_new').val('');
	}

	function category_treatment_func()
	{
		refresh_category_treatment();
		clear_category_treatment_form();

		jQuery('.cat-add-to-list').click(function(){
			var vals 		= jQuery('[name=new_category]').val();
			var category_desc = jQuery('[name=category_desc]').val();
			var lang_code 	= get_code_lang();

			if( vals == '' )
			{
				alert('Please add category name');
			}
			else
			{
				var prm = new Object;
					prm.post_id       	= jQuery('[name=post_id[0]]').val();
					prm.ajax_key      	= 'save-category-treatment';
					prm.app_name      	= '{app_name}';
					prm.lang_code     	= lang_code;
					prm.cat_name      	= vals;
					prm.cat_desc      	= category_desc;
					prm.category_lang   = new Object;

				jQuery('.category_lang_new').each(function(){
					var data_lang = jQuery(this).attr("data-lang");
					var value = jQuery(this).val();
					prm.category_lang[data_lang] = value;
				});

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.treatment-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
		            	jQuery('.treatment-category-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_category_treatment();
							clear_category_treatment_form();
							tab_lang_treatment_category();
		            	}
		            	else
		            	{
		            		alert('This category can\'t be deleted, because already used in another treatment');
		            	}
		            },
		            error: function( e ){
		            	jQuery('.treatment-category-list .overlay').remove();
		            }
		        });
			}

			return false;
		});

		jQuery('.cat-edit-treatment').click(function(){
			var vals 		= jQuery('[name=new_category]').val();
			var lang_code 	= get_code_lang();
		
			if( vals == '' )
			{
				alert('Please add category name');
			}
			else
			{
				var prm = new Object;
					prm.post_id  		= jQuery('[name=post_id[0]]').val();
					prm.cat_id   		= jQuery(this).attr('data-id');
					prm.ajax_key 		= 'update-category-treatment';
					prm.app_name 		= '{app_name}';
					prm.lang_code 		= lang_code;
					prm.cat_name  		= vals;
					prm.category_lang   = new Object;

				jQuery('.category_lang_new').each(function(){
					var data_lang = jQuery(this).attr("data-lang");
					var value = jQuery(this).val();
					prm.category_lang[data_lang] = value;
				});

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.treatment-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
		            	jQuery('.treatment-category-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_category_treatment();
		            		clear_category_treatment_form();
							jQuery('.cat-edit-treatment').hide();
							jQuery('.cat-cancel-edit').hide();
							jQuery('.cat-add-to-list').show();
							tab_lang_treatment_category();
		            	}
		            	else
		            	{
		            		alert('This category can\'t be deleted, because already used in another treatment');
		            	}
		            },
		            error: function( e ){
						console.log(e);
		            	jQuery('.treatment-category-list .overlay').remove();
		            }
		        });
			}

			return false;
		});
		
		jQuery('.cat-cancel-edit').click(function(){
			clear_category_treatment_form();

			jQuery('.cat-add-to-list').show();
			jQuery('.cat-cancel-edit').hide();
			jQuery('.cat-edit-treatment').attr('data-id', '').hide();

			return false;
		});
	}

	function refresh_treatment()
	{	
		var prm = new Object;
			prm.post_id  	= jQuery('[name=post_id[0]]').val();
			prm.ajax_key 	= 'get-main-treatment';
			prm.app_name 	= '{app_name}';
			prm.lang_code 	= get_code_lang();

        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function( e ){
            	jQuery('.treatment-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
            },
            success: function( e ){
		        jQuery('.treatment-list .overlay').remove();

				if( e.result == 'success' )
				{
					jQuery('.treatment-list').html('');

					jQuery.each( e.data, function( i, el ){
						var html_lang = '';

						// INPUT HIDDEN FOR LANG NAME
						jQuery.each( el.lang_name, function( k, lc ){
							if(typeof lc.value != 'undefined'){
								html_lang += '<input type="hidden" name="'+k+'" value="'+lc.value+'" />';
							}
						});

						// INPUT HIDDEN FOR LANG DESC
						jQuery.each( el.lang_desc, function( k, ld ){
							if(typeof ld.value != 'undefined'){
								html_lang += '<input type="hidden" name="'+k+'" value="'+ld.value+'" />';
							}
						});

						// INPUT HIDDEN FOR LANG DESC
						jQuery.each( el.lang_duration, function( k, lr ){
							if(typeof lr.value != 'undefined'){
								html_lang += '<input type="hidden" name="'+k+'" value="'+lr.value+'" />';
							}
						});

						var list = 
						'<li id="list_' + el.ltreatment_id + '">'+
							'<div class="item item-' + el.ltreatment_id + ' clearfix">'+
								'<p class="name">' + el.ltreatment_name + '</p>'+
								'<div class="desc">' + ( el.ltreatment_desc == '' ? '-' : el.ltreatment_desc ) + '</div>'+
								'<p class="duration">' + el.ltreatment_duration + '</p>'+
								'<p class="price">' + el.ltreatment_price + '</p>'+
								'<a class="edit" rel="' + el.ltreatment_id + '"></a>'+
								'<a class="delete" rel="' + el.ltreatment_id + '"></a>'+
								html_lang +
							'</div>'+
						'</li>';

						jQuery('.treatment-list').append( list );
					});

					reorder_treatment();
					treatment_link_action();
				}
            },
            error: function( e ){
		        jQuery('.treatment-list .overlay').remove();
            }
        });
	}

	function treatment_link_action()
	{
		jQuery('.treatment-list .item .edit').unbind();
		jQuery('.treatment-list .item .edit').click( function(){
			var sel      	= jQuery(this).parent();
			var id       	= jQuery(this).attr('rel');
			var name     	= sel.find('.name').text();
			var desc     	= sel.find('.desc').text();
			var duration    = sel.find('.duration').text();
			var price    	= sel.find('.price').text();
			var lang_code 	= get_code_lang();
			var split_code 	= lang_code.split(",");

			jQuery('[name=treatment_name]').val(name);
			jQuery('[name=treatment_desc]').val(desc);
			jQuery('[name=treatment_price]').val(price);

			tinyMCE.get('#treatment_desc').setContent("asdasd");
			
			for(var j=0; j<split_code.length; j++){
				var name_lang = sel.find('input[name=treatment_name_'+split_code[j]+']').val();
				var desc_lang = sel.find('input[name=treatment_desc_'+split_code[j]+']').val();

				jQuery('#treatment_name_lang_'+split_code[j]).val(name_lang);
				jQuery('#treatment_des_lang_'+split_code[j]).val(desc_lang);
			}


			jQuery('.add-treatment-to-list').hide();
			jQuery('.cancel-edit').show();
			jQuery('.edit-treatment').attr('data-id', id).show();

			jQuery('html, body').stop().animate({
				scrollTop: jQuery('#treatment-list').offset().top
			}, 1000);
		});

		jQuery('.treatment-list .item .delete').unbind();
		jQuery('.treatment-list .item .delete').click( function(){
			var url = '//{ajax_url}';
			var prm = new Object;
				prm.treatment_id  = jQuery(this).attr('rel');
				prm.ajax_key = 'delete-main-treatment';
				prm.app_name = '{app_name}';

	        jQuery.ajax({
	            url        : '//{ajax_url}',
	            type       : 'POST',
	            dataType   : 'json',
	            data       : prm,
	            beforeSend : function(e){
            		jQuery('.treatment-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
	            },
	            success: function( e ){
		            jQuery('.treatment-list .overlay').remove();

	            	if( e.result == 'success' )
	            	{
	            		refresh_treatment();
	            	}
	            	else
	            	{
	            		alert('This treatment can\'t be deleted, because already used in another treatment');
	            	}
	            },
	            error: function( e ){
		           jQuery('.treatment-list .overlay').remove();
	            }
	        });
		});
	}

	function reorder_treatment()
	{
		jQuery('.treatment-list').nestedSortable({
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 1,
			opacity: .6,
			revert: 250,
			tabSize: 25,
			placeholder: 'placeholder',
			tolerance: 'pointer',
			stop: function(eve, ui){
				var url  = '//{ajax_url}';
				var prm  = new Object;
					prm.list_arr = jQuery('.treatment-list').nestedSortable('toHierarchy', { startDepthCount: 0 });
					prm.ajax_key = 'reorder-main-treatment';
					prm.app_name = '{app_name}';

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
	            		jQuery('.treatment-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
			            jQuery('.treatment-category-list .overlay').remove();
		            },
		            error: function( e ){
			           jQuery('.treatment-category-list .overlay').remove();
		            }
		        });
			}
		});	
	}

	function clear_treatment_form()
	{
		jQuery('[name=treatment_name], [name=treatment_desc], [name=treatment_duration], [name=treatment_name_lang], [name=treatment_des_lang], [name=treatment_duration_lang]').val('');
		jQuery('[name=treatment_price]').val("");
	}

	function treatment_func()
	{
		refresh_treatment();
		clear_treatment_form();

		jQuery('.add-treatment-to-list').click(function(){
			tinyMCE.triggerSave();
			var name     = jQuery('[name=treatment_name]').val();
			var desc     = $("#treatment_desc").val();
			var price    = jQuery('[name=treatment_price]').val();
			var duration = jQuery('[name=treatment_duration]').val();

			if( name == '' )
			{
				alert('Please add treatment name');
			}
			else if( name != '' )
			{
                var type_data = new Array();
				var lang_code = get_code_lang();

                jQuery('.treatment-type-wrapp input:checked').each(function(e){
                    type_data.push( jQuery(this).val() );
                });

                var prm = new Object;
					prm.post_id  		= jQuery('[name=post_id[0]]').val();
					prm.app_name 		= '{app_name}';
					prm.ajax_key 		= 'save-main-treatment';
					prm.type     		= type_data;
					prm.price    		= price;
					prm.name     		= name;
					prm.desc     		= desc;
					prm.duration 		= duration;
					prm.lang_code     	= lang_code;
					prm.treatment_name_lang 		= new Object;
					prm.treatment_des_lang 			= new Object;
					prm.treatment_duration_lang 	= new Object;

				jQuery('.treatment_name_lang').each(function(){
					var data_treatment_name = jQuery(this).attr("data-lang");
					var value_treatment_lang = jQuery(this).val();
					prm.treatment_name_lang[data_treatment_name] = value_treatment_lang;
				});

				jQuery('.treatment_des_lang').each(function(){
					var data_treatment_des = jQuery(this).attr("data-lang");
					var value_des_lang = jQuery(this).val();
					prm.treatment_des_lang[data_treatment_des] = value_des_lang;
				});

				jQuery('.treatment_duration_lang').each(function(){
					var data_treatment_duration = jQuery(this).attr("data-lang");
					var value_duration_lang = jQuery(this).val();
					prm.treatment_duration_lang[data_treatment_duration] = value_duration_lang;
				});

				// console.log(prm);
				// return false;

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.treatment-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.treatment-list .overlay').remove();
						// console.log(e);
		            	if( e.result == 'success' )
		            	{
		            		refresh_treatment();
							clear_treatment_form();
							tab_lang_treatment();
		            	}
		            	else
		            	{
		            		alert('This treatment can\'t be deleted, please try again later');
		            	}
		            },
		            error: function( e ){
		            	jQuery('.treatment-list .overlay').remove();
		            }
		        });
            }

            return false;
        });

		jQuery('.edit-treatment').click(function(){
			var name  = jQuery('[name=treatment_name]').val();
			var desc  = jQuery('[name=treatment_desc]').val();
			var price = jQuery('[name=treatment_price]').val();
			var cat   = jQuery('[name=treatment_category]').val();

			if( name == '' && cat == '' )
			{
				alert('Please add treatment name & category');
			}
			else if( name == '' )
			{
				alert('Please add treatment name');
			}
			else if( cat == '' )
			{
				alert('Please add treatment category');
			}
			else if( name != '' && cat != '' )
			{
                var type_data = new Array();
				var lang_code = get_code_lang();

                jQuery('.treatment-type-wrapp input:checked').each(function(e){
                    type_data.push( jQuery(this).val() );
                });

                var prm = new Object;
					prm.post_id  		= jQuery('[name=post_id[0]]').val();
					prm.treatment_id  		= jQuery(this).attr('data-id');
					prm.ajax_key 		= 'update-main-treatment';
					prm.app_name 		= '{app_name}';
					prm.type     		= type_data;
					prm.price    		= price;
					prm.name     		= name;
					prm.desc     		= desc;
					prm.category 		= cat;
					prm.lang_code 		= lang_code;
					prm.treatment_name_lang 	= new Object;
					prm.treatment_des_lang 	= new Object;

				jQuery('.treatment_name_lang').each(function(){
					var data_treatment_name = jQuery(this).attr("data-lang");
					var value_treatment_lang = jQuery(this).val();
					prm.treatment_name_lang[data_treatment_name] = value_treatment_lang;
				});

				jQuery('.treatment_des_lang').each(function(){
					var data_treatment_des = jQuery(this).attr("data-lang");
					var value_des_lang = jQuery(this).val();
					prm.treatment_des_lang[data_treatment_des] = value_des_lang;
				});

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.treatment-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.treatment-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_treatment();
							clear_treatment_form();
							tab_lang_treatment();
		            	}
		            	else
		            	{
		            		alert('This treatment can\'t be deleted, please try again later');
		            	}
		            },
		            error: function( e ){
						console.log(e);
		            	jQuery('.treatment-list .overlay').remove();
		            }
		        });
            }

            return false;
        });
		
		jQuery('.cancel-edit').click(function(){
			clear_treatment_form();

			jQuery('.cancel-edit').hide();
			jQuery('.add-treatment-to-list').show();
			jQuery('.edit-treatment').attr('data-id', '').hide();

			return false;
		});
	}


	function tab_lang_treatment(){
		jQuery('#list-box .button-language-treatment ul li').removeClass("active");
		jQuery('#list-box .button-language-treatment ul li:first-child').addClass("active");
		jQuery('#list-box .content-lang-treatment').removeClass("active");
		jQuery('#list-box .content-treatment-en').addClass("active");
	}

	function tab_lang_treatment_category(){
		jQuery('#category-box .button-language-treatment ul li').removeClass("active");
		jQuery('#category-box .button-language-treatment ul li:first-child').addClass("active");
		jQuery('#category-box .content-lang-treatment').removeClass("active");
		jQuery('#category-box .content-treatment-en').addClass("active");
	}

	function get_code_lang(){
		code_lang 	= new Array;
		var i = 0;
		jQuery('.code_lang_lower').each(function(){
			var value_treatment_lang = jQuery(this).val();
			code_lang[i] = value_treatment_lang;
			i++;
		});
		return code_lang.join();
	}

	jQuery(document).ready(function(){
		treatment_func();

		if( jQuery('.select').length > 0 )
		{
			jQuery('.select').chosen({ disable_search_threshold: 10 });
		}

		jQuery('.tab-treatment-setting li').click(function(){
			var id = jQuery(this).find('a').attr('href');

			jQuery('.tab-treatment-setting li').removeClass('active');
			jQuery('.treatment-box-wrapper').css('display','none');
			jQuery(this).addClass('active');
			jQuery(id).css('display','block');

			return false;
		});
	});
</script>

<!-- END treatments_block -->